<div class="bg-neutral-100 shadow p-2 m-2 max-w-prose">

  <h4>
    Checklist para reacreditación
  </h4>

  <div class="rounded-md border-gray-300 border-solid border-2 mt-2 p-2">
    <div class="text-orange-700">
      Resumen curricular
    </div>
    
    <div class="grid grid-cols-6 my-2">
      <div class="text-left border-2 col-span-5">Cursos, talleres o seminarios que ha impartido en los últimos cinco años</div>
      {% if user.academico.resumen_curricular.experiencia_docente %}
      <div class="text-2xl border-2 w-min">✔</div> {% else %} <div class="text-2xl border-2 w-min">✘</div>
      {% endif %}


      <div class="text-left border-2 col-span-5">Cinco publicaciones relevantes en temas sólo de ciencias de la sostenibilidad</div>
      {% if user.academico.resumen_curricular.publicaciones %}
      <div class="text-2xl border-2 w-min">✔</div> {% else %} <div class="text-2xl border-2 w-min">✘</div>
      {% endif %}


      <div class="text-left border-2 col-span-5">Palabras clave</div>
      {% if user.academico.resumen_curricular.palabras_clave %}
      <div class="text-2xl border-2 w-min">✔</div> {% else %} <div class="text-2xl border-2 w-min">✘</div>
      {% endif %}


      <div class="text-left border-2 col-span-5">Metodologías que aplica en sus investigaciones</div>
      {% if user.academico.resumen_curricular.metodologias %}
      <div class="text-2xl border-2 w-min">✔</div> {% else %} <div class="text-2xl border-2 w-min">✘</div>
      {% endif %}


      <div class="text-left border-2 col-span-5">Marcos conceptuales</div>
      {% if user.academico.resumen_curricular.marcos %}
      <div class="text-2xl border-2 w-min">✔</div> {% else %} <div class="text-2xl border-2 w-min">✘</div>
      {% endif %}


      <div class="text-left border-2 col-span-5">Motivación para participar en el PCS</div>
      {% if user.academico.resumen_curricular.motivacion %}
      <div class="text-2xl border-2 w-min">✔</div> {% else %} <div class="text-2xl border-2 w-min">✘</div>
      {% endif %}


      <div class="text-left border-2 col-span-5">Proyectos vigentes o convenios de colaboración en los que pueden participar alumnos del PCS.</div>
      {% if user.academico.resumen_curricular.proyectos %}
      <div class="text-2xl border-2 w-min">✔</div> {% else %} <div class="text-2xl border-2 w-min">✘</div>
      {% endif %}
    </div>

    <div class="text-right">
      <a class="text-pink-700" href="{% url 'resumen_curricular' %}">ir a resumen curricular</a>
    </div>
  </div>
  


  
  <div class="rounded-md border-gray-300 border-solid border-2 mt-2 p-2">
    <div class="text-orange-700">
      Perfil académico
    </div>
    
    <div class="grid grid-cols-6">
      <div class="text-left border-2 col-span-5">CV extenso</div>
      {% if user.academico.anexo_CV %}
      <div class="text-2xl border-2 w-min">✔</div> {% else %} <div class="text-2xl border-2 w-min">✘</div>
      {% endif %}

      <div class="text-left border-2 col-span-5">Solicitud de Acreditación como Tutor</div>
      {% if user.academico.anexo_solicitud %}
      <div class="text-2xl border-2 w-min">✔</div> {% else %} <div class="text-2xl border-2 w-min">✘</div>
      {% endif %}


      <div class="text-left border-2 col-span-5">Último grado académico</div>
      {% if user.academico.ultimo_grado %}
      <div class="text-2xl border-2 w-min">✔</div> {% else %} <div class="text-2xl border-2 w-min">✘</div>
      {% endif %}


      <div class="text-left border-2 col-span-5">Guía de avances por semestre para maestría y doctorado</div>
      {% if user.academico.anexo_guia_avances %}
      <div class="text-2xl border-2 w-min">✔</div> {% else %} <div class="text-2xl border-2 w-min">✘</div>
      {% endif %}


      <div class="text-left border-2 col-span-5">Criterios para conformación de comités tutores</div>
      {% if user.academico.anexo_requisitos_comites %}
      <div class="text-2xl border-2 w-min">✔</div> {% else %} <div class="text-2xl border-2 w-min">✘</div>
      {% endif %}

      <div class="text-left border-2 col-span-5">Compromiso por una academia libre de violencias</div>
      {% if user.academico.anexo_vs_violencia %}
      <div class="text-2xl border-2 w-min">✔</div> {% else %} <div class="text-2xl border-2 w-min">✘</div>
      {% endif %}

    </div>
    <div class="text-right">
      <a class="text-pink-700" href="{% url 'perfil_academico' %}">ir a perfil académico</a>
    </div>
  </div>




  <div class="rounded-md border-gray-300 border-solid border-2 mt-2 p-2">
    <div class="text-orange-700">
      Perfil personal
    </div>

    <div class="grid grid-cols-6">
      <div class="text-left border-2 col-span-5">Tiene perfil personal</div>
      {% if user.academico.tiene_perfil_personal %}
      <div class="text-2xl border-2 w-min">✔</div> {% else %} <div class="text-2xl border-2 w-min">✘</div>
      {% endif %}

      <div class="text-left border-2 col-span-5">Grados académicos</div>
      {% if user.academico.tiene_grados %}
      <div class="text-2xl border-2 w-min">✔</div> {% else %} <div class="text-2xl border-2 w-min">✘</div>
      {% endif %}

      <div class="text-left border-2 col-span-5">Adscripción</div>
      {% if user.perfil.adscripcion_ok %}
      <div class="text-2xl border-2 w-min">✔</div> {% else %} <div class="text-2xl border-2 w-min">✘</div>
      {% endif %}

    </div>
    <div class="text-right">
      <a class="text-pink-700" href="{% url 'perfil' %}">ir a perfil personal</a>
    </div>
  </div>
  

</div>
