{% extends "posgradmin/posgradmin_base.html" %}
{% load markdownify %}

{% block title %}
Cursos y horarios
{% endblock %}


{% block content %}



<h1>Cursos y horarios</h1>
<div class="max-w-prose text-base">
<h3>Semestre 2025-2</h3>



<p>El semestre 2025-2 comprende del 27 de enero al 23 de mayo de 2025.</p>

<p>
Las ligas para las sesiones virtuales de los cursos que se impartirán en línea se deben solicitar directamente a la(o)s profesora(e)s de cada curso, enviando un mensaje al correo registrado. 
</p>
<p>
El registro a los cursos intersemestrales se debe realizar antes del inicio del curso, directamente al correo de la(o)s profesora(e)s, con copia a sostenibilidad@posgrado.unam.mx. Dichos cursos se deben inscribir en el sistema de SIAEP en el periodo de inscripción al semestre 2025-2.
</p>
<p>
Esta página se actualiza constantemente, sugerimos revisarla con
frecuencia.
</p>



{{ cursos_md|markdownify }}



<div class="bg-gray-100 p-2">
<h1>Sesiones de tutoría</h1>

<ul>
<li><a href="/cursos/sesiones_de_tutoria_i/">Sesiones de tutoría I Obligatoria para alumnos del segundo semestre de la Maestría</a></li>
<li><a href="/cursos/sesiones_de_tutoria_ii/">Sesiones de tutoría II Obligatoria para alumnos del tercer semestre de la Maestría</a></li>
<li><a href="/cursos/actividades_para_la_obtencion_del_grado/">Actividades para la obtención del grado_Obligatoria para alumnos del cuarto semestre de la Maestría</a></li>
</ul>

<h1>Seminarios de tesis</h1>

Sólo se podrán registrar con autorización previa del Comité Académico.
<ul>
<li><a href="/cursos/temas_selectos_i_seminario_de_tesis_i/">Temas Selectos I Seminario de Tesis I</a></li>
<li><a href="/cursos/temas_selectos_ii_seminario_de_tesis_ii/">Temas Selectos II Seminario de Tesis II</a></li>
</ul>


<h1>Seminarios de Investigación</h1>

Sólo se podrán registrar con autorización previa del Comité Académico.
<ul>
<li><a href="/cursos/temas_selectos_i_seminario_de_investigacion_i/">Temas Selectos I Seminario de Investigación I</a></li>
<li><a href="/cursos/temas_selectos_ii_seminario_de_investigacion_ii/">Temas Selectos II Seminario de Investigación II</a></li>
<li><a href="/cursos/temas_selectos_iii_seminario_de_investigacion_iii/">Temas Selectos III Seminario de Investigación III</a></li>
</ul>
</div>
{% endblock %}
