{% extends "posgradmin/posgradmin_base.html" %}
{% load crispy_forms_tags %}



{% block content %}

<h1>{{ user.get_full_name }}</h1>

<hr>

<div id='form-errors'>{{ form_errors }}</div>
<form method='POST' enctype="multipart/form-data">
  {% csrf_token %}
  
  {{ form.as_p }}

  <input type="submit" value="guardar" class="bg-purple-800 text-white hover:bg-purple-500 hover:text-white rounded p-2">			      
</form>

{% endblock %}
