{% extends "posgradmin/posgradmin_base.html" %}
{% load crispy_forms_tags %}



{% block content %}

<h1>{{ convocatoria.year }}-{{ convocatoria.semestre }}</h1>


<p>
Para solicitar la impartición de un curso optativo se debe elegir
alguno de la lista de los ya aprobados por el Comité Académico del
Posgrado, haciendo clic en "solicitar curso". Ahí se pueden revisar
los temarios de cada uno.
</p>

<!--
<p>
  Propuestas de nuevos cursos se valorarán sólo de manera excepcional
  para los temas señalados en la convocatoria vigente y que no sean
  redundantes con los cursos ya aprobados.
</p>


<p>
  <a href="">Proponer curso nuevo</a>.
</p>
-->


<div class="flex flex-col">
{% if convocatoria.status == 'abierta' %}

{% for as in asignaturas %}
<div class="mt-3 p-2 bg-gray-100">
  <div class="text-lg font-medium">{{ as.asignatura}}</div>
  <ul>
    <li>creditos: {{ as.creditos }}</li>
    <li><a href="{{ as.programa.url }}">programa</a></li>  
  </ul>

  <div class="w-full text-right">
    <a href="{% url 'solicita_curso' convocatoria.id as.id %}">solicitar curso</a>
  </div>
</div>
{% endfor %}
{% endif %}
</div>


{% endblock %}

