{% extends "posgradmin/posgradmin_base.html" %}
{% load md2 %}

{% block content %}



<h2 class="text-lg">
  {{ estudiante }}
</h2>

<div class="flex flex-wrap">

  {% if U.perfil.headshot %}
  <div class="p-2 m-2 bg-indigo-100 shadow">
    <img alt="" class="media-object"
	 width="150px"
	 src="{{ U.perfil.headshot.url }}" />
  </div>
  {% endif %}

  <div class="p-2 m-2 bg-indigo-100 shadow">
    <ul class="ml-4">
      <li>Género {{ estudiante.user.perfil.genero }}</li>
      <li>Fecha nacimiento {{ estudiante.user.perfil.fecha_nacimiento }}</li>
      <li>Nacionalidad {{ estudiante.user.perfil.nacionalidad }}</li>
      {% if estudiante.user.perfil.CVU %}<li>CVU: {{ estudiante.user.perfil.CVU }}</li>{% endif %}
      {% if estudiante.user.perfil.curp %}<li>CURP: {{ estudiante.user.perfil.curp }}</li>{% endif %}
      {% if estudiante.user.perfil.rfc %}<li>RFC: {{ estudiante.user.perfil.rfc }}</li>{% endif %}
    </ul>
  </div>


  <div class="p-2 m-2 bg-indigo-100 shadow">
    <div class="text-lg text-green-800">Contacto</div>

    <ul class="ml-4">
      {% if estudiante.user.perfil.telefono %}<li>tel.: {{ estudiante.user.perfil.telefono }}</li>{% endif %}
      {% if estudiante.user.perfil.telefono_movil %}<li>móvil: {{ estudiante.user.perfil.telefono_movil}}</li>{% endif %}
      {% if estudiante.user.perfil.website %}<li>website: <a href="{{ estudiante.user.perfil.website }}">{{ estudiante.user.perfil.website }}</a></li>{% endif %}
      <li>
	<a href="mailto:{{ estudiante.user.email }}">{{ estudiante.user.email }}</a>
      </li>
      {% for e in estudiante.user.emailaddress_set.all %}
      <li>
	<a href="mailto:{{ e }}">{{ e }}</a>
      </li>
      {% endfor %}

      {% if estudiante.user.perfil.direccion1 %}<li class="w-2/3">dirección: <br/>{{ estudiante.user.perfil.direccion1 }}
      {% if estudiante.user.perfil.codigo_postal %}CP {{ estudiante.user.perfil.codigo_postal }}{% endif %}</li>{% endif %}
    </ul>
  </div>


  {% if estudiante.user.gradoacademico_set.all %}  
  <div class="p-2 m-2 bg-emerald-100 shadow">
    <div class="text-lg text-green-800">Grados Académicos</div>
    {% for g in estudiante.user.gradoacademico_set.all %}
    <div class="mv-2 p-2 bg-gray-50 shadow">
      <em>{{ g.fecha_obtencion }}</em><br />
      <strong>{{ g.grado_obtenido }}</strong>
      (nivel {{ g.nivel }}) <br />
      {{ g.institucion }}
    </div>
    {% endfor %}
  </div>
  {% endif %}

</div>






{% if estudiante.generacion_doctorado %}
<div class="flex flex-col rounded shadow m-2 bg-slate-100 p-4">
  <h2 class="text-l">
    Doctorado
  </h2>

  <div class="grid grid-flow-row-dense grid-cols-2 grid-rows-2 gap-2 text-neutral-700">


    <div class="grid grid-cols-2 gap-4 bg-amber-50 p-2 shadow">
      <div>Generación de Doctorado</div>
      <div>{{ estudiante.generacion_doctorado }}</div>

      <div>Estatus</div>
      <div>
	{% if estudiante.estado == "graduado" %}
	<div class="col-span-2 text-purple-800 font-semibold text-2xl my-2">
	  Graduado
	</div>
	{% else %}
	{{ estudiante.estado_doctorado }}
	{% endif %}
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 bg-amber-50 p-2 shadow">
      <div>Última inscripción</div>
      <div>{{ estudiante.ultima_inscripcion_doctorado }}</div>

      <div>Entidad</div>
      <div>{{ estudiante.entidad_pcs }}</div>

      <div>Sede administrativa</div>
      <div>{{ estudiante.sede_adm_doctorado|default:"" }}</div>
    </div>

    <div class="grid grid-cols-2 gap-4 bg-amber-50 p-2 shadow">
      <div>
	Linea de investigación</div>
      <div class="text-green-800 text-lg">
	{{ estudiante.lineas_investigacion }}
      </div>

      <div>Proyecto</div>
      <div class="text-teal-800 text-lg">
	{{ estudiante.proyecto_doctorado }}
      </div>
    </div>
  </div>

  <h3 class="text-l">Comité</h3>
  
  <div class="rounded shadow bg-red w-full">
    <div class="grid grid-cols-3">

      <div class="bg-gray-200 p-2">fecha escolar</div>
      <div class="bg-gray-200 p-2">función</div>
      <div class="bg-gray-200 p-2">académico</div>
      {% for m in estudiante.comite_doctorado %}
      <div class="{% cycle 'bg-sky-100' 'bg-sky-50' %} p-2">
	{{ m.year}}-{{ m.semestre}}
      </div>

      <div class="{% cycle 'bg-sky-100' 'bg-sky-50' %} p-2">
	{{ m.get_tipo_display }}
      </div>

      <div class="{% cycle 'bg-sky-100' 'bg-sky-50' %} p-2">
	{% if m.tutor %}
	{{ m.tutor }}
	{% elif m.invitado %}
	{{ m.invitado }} (invitado)
	{% endif %}
      </div>
      {% endfor %}
    </div>
  </div>

  {% if estudiante.apoyos_doctorado %}  
  <h3 class="text-l">Apoyos para movilidad</h3>
  <div class="bg-teal-50 flex flex-wrap p-2">
    {% for a in estudiante.apoyos_doctorado %}
    <div class="w-96 shadow p-2 bg-teal-100 m-2">
      <div>
      semestre {{ a.year }}-{{ a.semestre }}
      </div>
      
      <div>
	{{ a.nombre }}
	({{ a.tipo_actividad }})
      </div>
      <div>
      Lapso: {{ a.fecha_inicio}} a {{ a.fecha_fin }}
      </div>
      <div>
	Institucion: {{ a.institucion }}
	{% if a.internacional %}(internacional){% endif %}
	{{ a.ciudad }}, {{ a.pais }}
      </div>
      <div>
	monto otorgado: ${{ a.monto_otorgado }}MXN
      </div>
      <div>
	tipo: {{ a.tipo_apoyo }}
      </div>

      <div>
	solicitada el {{ a.fecha_solicitud}}
	estado: {{ a.estado }}
      </div>
      
    </div>
    {% endfor %}
  </div>
  {% endif %}

  
  <h3 class="text-l">Historial</h3>

  <div class="bg-stone-300 grid grid-cols-6 gap-1">

    <div class="bg-gray-200 p-2">
      fecha
    </div>

    <div class="bg-gray-200 p-2">
      año
    </div>

    <div class="bg-gray-200 p-2">
      semestre
    </div>

    <div class="bg-gray-200 p-2">
      estado
    </div>

    <div class="bg-gray-200 p-2">
      entidad
    </div>

    <div class="bg-gray-200 p-2">
      notas
    </div>


    {% for h in estudiante.historial_doctorado %}
    <div class="p-2 {% cycle 'bg-blue-100' 'bg-blue-50' %}">
      {{ h.fecha }}
    </div>

    <div class="p-2 {% cycle 'bg-blue-100' 'bg-blue-50' %}">
      {{ h.year }}
    </div>

    <div class="p-2 {% cycle 'bg-blue-100' 'bg-blue-50' %}">
      {{ h.semestre }}
    </div>

    <div class="p-2 {% cycle 'bg-blue-100' 'bg-blue-50' %}">
      {{ h.estado }}
    </div>

    <div class="p-2 {% cycle 'bg-blue-100' 'bg-blue-50' %}">
      {{ h.entidad_pcs }}
    </div>

    <div class="p-2 {% cycle 'bg-blue-100' 'bg-blue-50' %}">
      
      {% for n in h.notas.all %}
      <div class="bg-slate-100 shadow p-2">
	<div class="text-gray-600 float-right">
	  {{ n.fecha }}, {{ n.autor }}, {{ n.estado }}</div>
	<div class="text-gray-800 font-bold mb-2">{{ n.asunto }}</div>
	{{ n.nota|markdown }}
      </div>	
      {% empty %}
      
      {% endfor %}
      
    </div>
    {% endfor %}
  </div>
</div>
{% endif %} {# doctorado #}




{% if estudiante.generacion_maestria %}
<div class="rounded shadow m-2 bg-lime-50 p-4">
  <h2 class="text-l">
    Maestría
  </h2>

  <div class="grid grid-flow-row-dense grid-cols-2 grid-rows-2 gap-2 text-neutral-700">


    <div class="grid grid-cols-2 gap-4 bg-zinc-50 p-2 shadow">
      <div>Generación de Maestría</div>
      <div>{{ estudiante.generacion_maestria }}</div>

      <div>Estatus</div>
      <div>
	{% if estudiante.estado == "graduado_maestria" %}
	<div class="col-span-2 text-purple-800 font-semibold text-2xl my-2">
	  Graduado
	</div>
	{% else %}
	{{ estudiante.estado_maestria }}
	{% endif %}
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 bg-zinc-50 p-2 shadow">
      <div>Última inscripción</div>
      <div>{{ estudiante.ultima_inscripcion_maestria }}</div>

      <div>Entidad</div>
      <div>{{ estudiante.entidad_pcs }}</div>

      <div>Sede administrativa</div>
      <div>{{ estudiante.sede_adm_maestria|default:"" }}</div>
    </div>

    <div class="grid grid-cols-2 gap-4 bg-zinc-50 p-2 shadow">
      <div>
	Campo de Conocimiento</div>
      <div class="text-lime-800 text-lg">
	{{ estudiante.campo_conocimiento }}
      </div>

      <div>Proyecto</div>
      <div class="text-sky-800 text-lg">
	{{ estudiante.proyecto_maestria }}
      </div>
    </div>
  </div>


  {% if estudiante.apoyos_doctorado %}    
  <h3 class="text-l">Apoyos para movilidad</h3>
  <div class="bg-teal-50 flex flex-wrap p-2">
    {% for a in estudiante.apoyos_maestria %}
    <div class="w-96 shadow p-2 bg-teal-100 m-2">
      <div>
      semestre {{ a.year }}-{{ a.semestre }}
      </div>
      
      <div>
	{{ a.nombre }}
	({{ a.tipo_actividad }})
      </div>
      <div>
      Lapso: {{ a.fecha_inicio}} a {{ a.fecha_fin }}
      </div>
      <div>
	Institucion: {{ a.institucion }}
	{% if a.internacional %}(internacional){% endif %}
	{{ a.ciudad }}, {{ a.pais }}
      </div>
      <div>
	monto otorgado: ${{ a.monto_otorgado }}MXN
      </div>
      <div>
	tipo: {{ a.tipo_apoyo }}
      </div>

      <div>
	solicitada el {{ a.fecha_solicitud}}
	estado: {{ a.estado }}
      </div>
      
    </div>
    {% endfor %}
  </div>
  {% endif %}


  <h3 class="text-l">Comité</h3>  
  <div class="rounded shadow bg-gray-50">
    <div class="grid grid-cols-3">

      <div class="bg-gray-200 p-2">fecha escolar</div>
      <div class="bg-gray-200 p-2">función</div>
      <div class="bg-gray-200 p-2">académico</div>
      {% for m in estudiante.comite_maestria %}
      <div class="{% cycle 'bg-sky-100' 'bg-sky-50' %} p-2">
	{{ m.year}}-{{ m.semestre}}
      </div>

      <div class="{% cycle 'bg-sky-100' 'bg-sky-50' %} p-2">
	{{ m.get_tipo_display }}
      </div>

      <div class="{% cycle 'bg-sky-100' 'bg-sky-50' %} p-2">
	{% if m.tutor %}
	{{ m.tutor }}
	{% elif m.invitado %}
	{{ m.invitado }} (invitado)
	{% endif %}
      </div>
      {% endfor %}
    </div>
  </div>

  <h3 class="text-l">Historial</h3>

  <div class="bg-stone-300 grid grid-cols-6 gap-1">

    <div class="bg-gray-200 p-2">
      fecha
    </div>

    <div class="bg-gray-200 p-2">
      año
    </div>

    <div class="bg-gray-200 p-2">
      semestre
    </div>

    <div class="bg-gray-200 p-2">
      estado
    </div>

    <div class="bg-gray-200 p-2">
      entidad
    </div>

    <div class="bg-gray-200 p-2">
      notas
    </div>


    {% for h in estudiante.historial_maestria %}
    <div class="p-2 {% cycle 'bg-blue-100' 'bg-blue-50' %}">
      {{ h.fecha }}
    </div>

    <div class="p-2 {% cycle 'bg-blue-100' 'bg-blue-50' %}">
      {{ h.year }}
    </div>

    <div class="p-2 {% cycle 'bg-blue-100' 'bg-blue-50' %}">
      {{ h.semestre }}
    </div>

    <div class="p-2 {% cycle 'bg-blue-100' 'bg-blue-50' %}">
      {{ h.estado }}
    </div>

    <div class="p-2 {% cycle 'bg-blue-100' 'bg-blue-50' %}">
      {{ h.entidad_pcs }}
    </div>

    <div class="p-2 {% cycle 'bg-blue-100' 'bg-blue-50' %}">

      {% for n in h.notas.all %}
      <div class="bg-slate-100 shadow p-2">
	<div class="text-gray-600 float-right">
	  {{ n.fecha }}, {{ n.autor }}, {{ n.estado }}</div>
	<div class="text-gray-800 font-bold mb-2">{{ n.asunto }}</div>
	{{ n.nota|markdown }}
      </div>	
      {% empty %}
      
      {% endfor %}
      
    </div>
    {% endfor %}
  </div>
</div>
{% endif %} {# maestria #}



{% if estudiante.notas.count > 0 %}
<div class="rounded shadow m-2 p-4 bg-amber-100">
  <h2>Notas</h2>
  {% for n in estudiante.notas.all %}
  <div class="bg-slate-100 shadow p-2">
    <div class="text-gray-600 float-right">{{ n.fecha }}, {{ n.autor }}, {{ n.estado }}</div>
    <div class="text-gray-800 font-bold text-xl mb-2">{{ n.asunto }}</div>
    {{ n.nota|markdown }}
  </div>
  {% endfor %}
</div>
{% endif %}


{% endblock %}
