{% extends "posgradmin/posgradmin_base.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  {% for crumb in breadcrumbs %}
  &rsaquo; <a href="{{ crumb.0 }}">{{ crumb.1 }}</a>
  {% endfor %}

  &rsaquo; <a href="{% url 'inicio' %}">Inicio</a>
  &rsaquo; <a href="{% url 'lista_estudiantes' %}">Estudiantes</a>
</div>
{% endblock %}





{% block content %}

<h2>Estudiantes</h2>

<a href="{% url 'cargar_estudiantes' %}">Cargar lote de estudiantes</a>
<hr>

<form action="" accept-charset="UTF-8">
  <input name="search">
  <input type="submit">
</form>
{% include 'sortable_listview/sort_links.html' %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>nombre</th>
      <th>estado</th>
      <th>plan</th>
      <th>entidad</th>
      <th>ingreso</th>
      <th>semestre</th>
    </tr>
  </thead>

  <tbody>
    {% for estudiante in object_list %}

    <tr>
      <td><a href="{% url 'user_detail' estudiante.user.id %}">
	  {{ estudiante.user.id }}</a></td>
      <td><a href="{% url 'user_detail' estudiante.user.id %}">{{ estudiante.user.get_full_name }}</a></td>
      <td>{{ estudiante.estado|default:'' }}</td>
      <td>{{ estudiante.plan|default:'' }}</td>
      <td>{{ estudiante.entidad_pcs|default:'' }}</td>
      <td>{{ estudiante.ingreso|default:'' }}</td>
      <td>{{ estudiante.semestre|default:'' }}</a></td>
    </tr>

  {% endfor %}
  </tbody>
</table>
  {% include 'sortable_listview/pagination.html' %}

{% endblock %}
