{% extends "posgradmin/posgradmin_base.html" %}

{% block content_title %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-4">

    <div class="container">
      <ul class="nav nav-pills">
	{% if user.perfil %}
	<li role="presentation">
	  <a href="{% url 'perfil' %}" class="list-group-item">Perfil Personal</a>
	</li>
	{% else %}
	<li>
	  <strong>No tiene perfil personal.</strong>
	  <a href="{% url 'editar_perfil' %}">Crear perfil personal.</a>.
	</li>
	{% endif %}
	

	{% if user.academico %}
	<li role="presentation">
	  {% if user.academico.acreditacion == 'P' or user.academico.acreditacion == 'candidato profesor' %}
	  <a href="{% url 'perfil_profesor' %}" class="list-group-item">Perfil Académico</a>
	  {% else %}
	  {% if user.academico.acreditacion == 'no acreditado' or user.academico.acreditacion == 'baja' %}
	  {% else %}
	  <a href="{% url 'perfil_academico' %}" class="list-group-item">Perfil Académico</a>
	  {% endif %}
	  {% endif %}
	</li>
	
        {% if user.academico.acreditacion in 'DMMCT_M' %}	
	<li>
	  <a href="{% url 'resumen_curricular' %}">Nuevo resumen curricular para reacreditación</a> 
	</li>
	{% endif %}
	
	{% endif %}

        {% if user.academico.acreditacion in 'DMMCT_M' %}
	<li>
	  <a href="{% url 'tutor_detalle' user.academico.id %}">Perfil en sitio web del PCS</a>
	</li>

	<li>
	  <a href="{% url 'tutorias' user.academico.id %}">Mis tutorías</a>
	</li>
	
	{% endif %}

	{% if user.academico.curso_set.count > 0 %}
	<li>
	  <a href="{% url 'mis_cursos' %}">Mis cursos</a>
	</li>
	{% endif %}


      </ul>
    </div>

    {% if user.academico.acreditacion == '' or user.academico.acreditacion in "PMDE" or user.academico.acreditacion == 'candidato profesor' or user.academico.acreditacion == 'MCT_M' %}
    {% include 'posgradmin/inicio_academico.html' %}
    {% endif %}


    {# if user.estudiante #}
    {# include 'posgradmin/inicio_estudiante.html' #}
    {# endif #}

  </div><!-- /.col-sm-4 -->

</div>

{% if reacreditacion and user.academico.acreditacion in 'MDMCT_M' %}

<div class="m-2 p-4 bg-amber-100 shadow-md">

  <h2>Proceso de reacreditación de tutoras y tutores</h2>

  Para solicitar su reacreditación como tutor(a) del Posgrado en Ciencias de la Sostenibilidad
  es necesario:
  <ul>
    <li>Generar su <a class="text-pink-700" href="{% url 'resumen_curricular' %}">nuevo resumen curricular para reacreditación</a>.</li>

    <li>Actualizar su <a class="text-pink-700" href="{% url 'perfil_academico' %}">perfil académico</a>.<br>

      En esta sección debe especificar su disponibilidad para asesoría
      y/o dirección de alumnos.<br>

      Es requisito anexar los siguientes documentos firmados:<br>

      1. <i>Curriculum vitae</i> actualizado (reemplazar el documento actual)<br>
      2. <a href="https://sostenibilidad.posgrado.unam.mx/assets/formatos/tutores/carta_compromiso_acreditacion.docx">
	Nueva carta de solicitud de acreditación</a> (reemplazar el documento actual)<br>
      3. <a href="https://sostenibilidad.posgrado.unam.mx/assets/formatos/tutores/guia_avances_por_semestre.pdf">
	Guía de avances por semestre para maestría y doctorado</a><br>
      4. <a href="https://sostenibilidad.posgrado.unam.mx/assets/formatos/tutores/requisitos_conformacion_comites_tutores.pdf">
	Criterios para conformación de comités tutores</a><br>
      5. <a href="https://sostenibilidad.posgrado.unam.mx/assets/formatos/tutores/compromiso_vs_violencia.pdf">Compromiso por una academia libre de violencias</a><br>


    </li>

    <li>
      Revisar todos los datos de su <a class="text-pink-700" href="{% url 'perfil' %}">perfil personal</a>. Actualizar en caso de que
      haya cambios.

    </li>

  </ul>
  Para que proceda su solicitud de reacreditación deberá completar
  esta información a más tardar el 21 de febrero de 2025.



  {% include "posgradmin/checklist_reacreditacion.html" %}

  
  
</div>
{% endif %}

{% endblock %}
