

{% if convocatorias_curso %}
{% for c in convocatorias_curso %}
<div class="bg-yellow-50 m-2 p-2 shadow">
  <h1 class="text-2xl">Convocatoria</h1>
  <div class="text-lg font-semibold text-green-900 m-4">
    Para impartir cursos en el semestre {{ c.year}}-{{ c.semestre }}</div>
  <a class="bg-gray-100 p-2 m-2 rounded-lg"
     href="{% url 'elige_asignatura' c.id %}">registra una solicitud</a>
</div>
{% endfor %}
{% endif %}



{% if user.academico.comite_academico %}
<div class="bg-indigo-100 m-2 p-2 shadow flex flex-col">
{% for c in convocatorias_revision %}
<a href="{% url 'panel_convocatoria_cursos' c.id %}">Panel para revisión de la Convocatoria de Cursos {{ c }}</a>
{% endfor %}
</div>
{% endif %}
