{% extends "posgradmin/posgradmin_base.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  &rsaquo; <a href="{% url 'inicio' %}">Inicio</a>
  &rsaquo; <a href="{% url 'mis_estudiantes' %}">Mis estudiantes</a>
</div>
{% endblock %}



{% block content %}

<h2>
  <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
  Mis estudiantes</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>nombre</th>
      <th>estado</th>
      <th>plan</th>
      <th>entidad</th>
      <th>ingreso</th>
      <th>semestre</th>
    </tr>
  </thead>

  <tbody>
    {% for estudiante in object_list %}

    <tr>
      <td><a href="{% url 'user_detail' estudiante.user.id %}">
	  {{ estudiante.user.id }}</a></td>
      <td><a href="{% url 'user_detail' estudiante.user.id %}">{{ estudiante }}</a></td>
      <td>{{ estudiante.estado|default:'' }}</td>
      <td>{{ estudiante.plan|default:'' }}</td>
      <td>{{ estudiante.entidad_pcs|default:'' }}</td>
      <td>{{ estudiante.ingreso|default:'' }}</td>
      <td>{{ estudiante.semestre|default:'' }}</a></td>
    </tr>

  {% endfor %}
  </tbody>
</table>


{% endblock %}
