{% extends "posgradmin/posgradmin_base.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  &rsaquo; <a href="{% url 'inicio' %}">Inicio</a>
  &rsaquo; <a href="{% url 'mis_cursos' %}">Mis cursos</a>
</div>
{% endblock %}


{% block content %}
<h2 class="text-2xl">Mis cursos</h2>


{% for sem, cursos in mis_cursos.items %}
<h3 class="text-xl">
  semestre {{ sem }}
</h3>

<div class="flex flex-col">
  {% for curso in cursos %}
  <div class="rounded-t shadow bg-amber-50 text-sm mt-2 grid grid-flor-row-dense grid-cols-2 gap-2">
    <ul class="p-2">
      <li>Materia: <span class="font-semibold text-pink-800">{{ curso.asignatura}}</span></li>
      <li>clave: {{ curso.asignatura.clave }}</li>
      <li>creditos: {{ curso.asignatura.creditos }}</li>
      <li><a href="{{ curso.asignatura.programa.url }}">programa</a></li>
    </ul>

    <ul class="p-2">
      <li>status: {{ curso.status }}</li>
      <li>convocatoria: {{ curso.convocatoria }}</li>
      {% if curso.intersemestral %}
      <li>Curso intersemestral</li>
      {% endif %}
      <li>sede: {{ curso.sede }}</li>
      <li>aula: {{ curso.aula }}</li>
      <li>horario: {{ curso.horario}}</li>
    </ul>


    <div class="p-2">
      impartido por
      <ul class="p-2">
	{% for a in curso.academicos.all %}
	<li>
	  {% if request.user.is_staff %}
	  {{ a.user.get_full_name }} {{ a.perfil_comite_anchor|safe }}
	  {% else %}
	  {{ a }}
	  {% endif %}
	</li>
	{% endfor %}
      </ul>
    </div>
    
    <div class="p-2 bg-gray-100 text-sm mt-2 col-span-2">
      <ul>
	{% if curso.convocatoria.status == 'abierta' and not curso.activo and not curso.status == 'concluido' %}
	<li>
	  <a href="{% url "curso" curso.id %}">editar curso</a></li>
	{% endif %}
	{% if curso.status == 'concluido' %}
	<li>
	  <a href="{{ MEDIA_URL }}/cursos/{{ curso.id }}/constancia_curso_profesores.pdf">
	    descargar constancia</a></li>
	{% endif %}
	
	{% if curso.status == 'publicado' or curso.status == 'concluido' %}
	<li><a href="{% url "curso_constancia" curso.id %}">emitir constancia para profesores invitados</a></li>
	{% endif %}
      </ul>
  </div>
    
  </div>

  
  {% endfor %}
</div>
{% endfor %}



{% endblock %}
