{% extends "posgradmin/posgradmin_base.html" %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<h2 class="text-l">Convocatoria {{ convocatoria|default:"" }}</h2>

<div class="flex flex-col">
  {% for curso in convocatoria.curso_set.all %}
  <div class="flex flex-col bg-gray-200 border-2 m-2 p-2">
    <div class="bg-gray-100 p-2">

      Materia: <span class="font-semibold text-pink-800">{{ curso.asignatura}}</span>
      {% if curso.asignatura.proponente %}
      <br />      
      propuesta por {{ curso.asignatura.proponente.academico.perfil_comite_anchor|safe }}
      {% endif %}
      <br />
      <ul>
	<li>clave: {{ curso.asignatura.clave }}</li>
	<li>creditos: {{ curso.asignatura.creditos }}</li>
	<li><a href="{{ curso.asignatura.programa.url }}">programa</a></li>
	{% if curso.intersemestral %}<li class="font-bold">intersemestral</li>{% endif %}
      </ul>
    </div>
    <div class="p-2">
      <div class="text-l text-indigo-900 font-semibold">Académicos</div>
      <ul class="bg-green-100 p-2">
      {% for a in curso.academicos.all %}
      <li>
	{{ a.perfil_comite_anchor|safe }}
      </li>
      {% endfor %}
      </ul>
    </div>
    <div class="p-2 bg-blue-100">
      <table>
	<tr>
	  <td>estado:</td><td> {{ curso.status }} </td>
	</tr>
	<tr>
	  <td>Sede:</td><td> {{ curso.sede }} </td>
	</tr>
	<tr>
	  <td>Aula:</td><td> {{ curso.aula }} </td>
	</tr>
	<tr>
	  <td>Horario:</td><td> {{ curso.horario }} </td>
	</tr>
      </table>
    </div>
    {% if curso.observaciones_profesores %}
    <div class="p-2 bg-yellow-100">
      <h4 class="font-bold">Observaciones de profesores</h4>
      {{ curso.observaciones_profesores }}
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>



{% endblock %}

