{% extends "posgradmin/posgradmin_base.html" %}
{% load md2 %}


{% block breadcrumbs %}
<div class="breadcrumbs">
  &rsaquo; <a href="{% url 'inicio' %}">Inicio</a>
  &rsaquo; Perfil Académico
</div>
{% endblock %}


{% block content %}

{% if not user.perfil %}
<div style="border-style: solid; border-width: 1px; border-color: red; padding: 1em;">
<strong>No tiene perfil personal.</strong>
<a href="{% url 'editar_perfil' %}">Crear perfil personal.</a>.
</div>
{% endif %}


<h2>{{ object.get_full_name }}</h2>


{% include "posgradmin/perfil_academico_seccion_general.html" %}


{% endblock %}
