{% extends "posgradmin/posgradmin_base.html" %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  {% for crumb in breadcrumbs %}
  &rsaquo; <a href="{{ crumb.0 }}">{{ crumb.1 }}</a>
  {% endfor %}
</div>

{% endblock %}


{% block content %}

<h1>{{ object.user.get_full_name }}</h1>

<hr>


{% crispy form %}



{% if object %}
<div style="margin-top: 1em;">
<h2>Grados Académicos</h2>

<a href="{% url 'agregar_grado' %}">
  agregar grado académico</a><br /><br />

<ul class="list-group">
  {% for grado in object.user.gradoacademico_set.all %}
  <li class="list-group-item">
    <div style="float: right">
      <button type="button"
	      class="rounded bg-red-800 p-4 text-white hover:bg-red-700"
	      onClick="if (confirm('¿eliminar {{ grado.grado_obtenido}}?')) window.location='{% url 'eliminar_grado' grado.id %}'">
	eliminar grado
      </button>
    </div>
    <strong>{{ grado.grado_obtenido }} </strong>@ {{ grado.institucion }}, {{ grado.facultad }}
    <p class="list-group-item-text">
      nivel {{ grado.nivel }}
      obtenido el {{ grado.fecha_obtencion }}
    </p>
  </li>
  {% endfor %}
</div>

<div style="margin-top: 1em;">
<h2>Adscripciones</h2>

<ul class="list-group">
  {% for ad in object.adscripcion_set.all %}
  <li class="list-group-item">
    <div style="float: right">
      <button type="button"
	      class="rounded bg-red-800 p-4 text-white hover:bg-red-700"
	      onClick="if (confirm('¿eliminar adscripción a {{ ad.institucion }}?'))
		       window.location='{% url 'eliminar_adscripcion' ad.id%}'">
	eliminar adscripción
      </button>
    </div>
    {{ ad }}
    {% if ad.catedra_conacyt %}
    <br />
    Cátedra CONACYT
    {% endif %}
    <br />
    {{ ad.nombramiento }} desde {{ ad.anno_nombramiento }}
  </li>
  {% endfor %}
</ul>
</div>
{% endif %}

{% endblock %}
