
{% load md2 %}

<h2>
  Perfil Académico
</h2>


<div class="flex flex-wrap">

  <div class="bg-neutral-100
	      w-1/3
	      p-4
	      max-w-1/3">
    <h3>
      Participación en el programa
    </h3>
    <p>
      Acreditación: {{ U.academico.show_acreditacion }}
    </p>
    {% if U.academico.fecha_acreditacion %}
    <p>Acreditado el {{ U.academico.fecha_acreditacion }}</p>
    {% endif %}

    {% if U.academico.disponible_tutor %}
    <p>
    Disponible como tutor principal (dirección de alumnos).
    </p>
    {% endif %}
	
    {% if U.academico.disponible_miembro %}
    <p>
      Disponible como miembro de comité tutor (asesoría de alumnos)
    </p>
    {% endif %}
  </div>



  
  <div class="flex flex-col
	      p-4
	      bg-pink-50">
    <h3>Anexos</h3>

    <div>
    {% if U.academico.anexo_CV %}
      <a href="{{ U.academico.anexo_CV.url }}">CV extenso</a>
    {% else %}
    falta CV extenso
    {% endif %}
    </div>

    <div>
    {% if U.academico.anexo_solicitud %}
      <a href="{{ U.academico.anexo_solicitud.url }}">Solicitud de Acreditación como Tutor</a>
    {% else %}
    falta Solicitud de Acreditación como Tutor
    {% endif %}
    </div>

    <div>
    {% if U.academico.ultimo_grado %}
      <a href="{{ U.academico.ultimo_grado.url }}">Último grado académico</a>
    {% else %}
    falta Último grado académico
    {% endif %}
    </div>

    <div>
    {% if U.academico.anexo_guia_avances %}
      <a href="{{ U.academico.anexo_guia_avances.url }}">Guía de avances por semestre para maestría y doctorado</a>
    {% else %}
    falta Guía de avances por semestre para maestría y doctorado
    {% endif %}
    </div>
    
    <div>
    {% if U.academico.anexo_requisitos_comites %}
      <a href="{{ U.academico.anexo_requisitos_comites.url }}">Criterios para conformación de comités tutores</a>
    {% else %}
    falta Criterios para conformación de comités tutores
    {% endif %}
    </div>
    
    <div>
    {% if U.academico.anexo_vs_violencia %}
      <a href="{{ U.academico.anexo_vs_violencia.url }}">Compromiso por una academia libre de violencias</a>
    {% else %}
    falta Compromiso por una academia libre de violencias
    {% endif %}
    </div>

    
  </div>


  
  <div class="bg-neutral-100
	      p-4">
    <h3>Institución Académica</h3>

    <div class="grid grid-cols-2 gap-4">
      
      <div class="justify-self-end">Estímulo UNAM</div>
      <div>{{ U.academico.estimulo_UNAM|default:'' }}</div>
      
      <div class="justify-self-end">Nivel SNI</div>
      <div>{{ U.academico.nivel_SNI|default:'' }}</div>
      
      <div class="justify-self-end">CVU</div>
      <div>{{ U.academico.CVU|default:'!' }}</div>

      {% if U.academico.DGEE %}
      <div class="justify-self-end">DGEE</div>
      <div>{{ U.academico.DGEE|default:'' }}</div>
      {% endif %}

      {% if U.academico.numero_trabajador_unam %}
      <div class="justify-self-end">Número de trabajador UNAM</div>
      <div>{{ U.academico.numero_trabajador_unam|default:'' }}</div>
      {% endif %}
    </div>
  </div>
</div>

<h2>
  Resumen Curricular
</h2>

<div class="mt-4 bg-neutral-100 p-4
	    flex flex-row">
  <div class="rounded-full
	      p-8
	      text-2xl font-bold
	      {% if U.academico.verifica_semaforo_MCT_M == 'amarillo'%}
	      bg-yellow-300
	      {% elif U.academico.verifica_semaforo_MCT_M == 'verde' %}
	      bg-green-500
	      {% else %}
	      bg-red-500
	      {% endif %}">
    MCT_M
  </div>
  <div class="rounded-full
	      p-8
	      text-2xl font-bold
	      {% if U.academico.verifica_semaforo_maestria == 'amarillo' %}
	      bg-yellow-300
	      {% else %}
	      bg-red-500
	      {% endif %}">
    M
  </div>
  <div class="rounded-full
	      p-8
	      text-2xl font-bold
	      {% if U.academico.verifica_semaforo_doctorado == 'amarillo' %}
	      bg-yellow-300
	      {% else %}
	      bg-red-500
	      {% endif %}">
    D
  </div>
</div>
<div class="mt-4 bg-stone-200 p-4">

  <h3>Formación de Estudiantes (trayectoria profesional completa) </h3>

  <h4>Tutor o co-tutor</h4>

  Tutor o co-tutor de estudiantes graduados

  <div class="grid grid-cols-2">
    <div class="text-right">a nivel doctorado</div>
    <div class="bg-stone-50 w-12 px-2">{{ U.academico.resumen_curricular.tutor_doctorado }}</div>

    <div class="text-right">a nivel maestría</div>
    <div class="bg-stone-50 w-12 px-2">{{ U.academico.resumen_curricular.tutor_maestria }}</div>

    <div class="text-right">a nivel licenciatura</div>
    <div class="bg-stone-50 w-12 px-2">{{ U.academico.resumen_curricular.tutor_licenciatura }}</div>
  </div>

  <h4>Miembro de comité</h4>

  Cantidad total de participaciones como miembro de comité tutor
  (excluyendo co-tutoría o tutoría principal) de estudiantado

  <div class="grid grid-cols-2">
    <div class="text-right">a nivel doctorado</div>
    <div class="bg-stone-50 w-12 px-2">{{ U.academico.resumen_curricular.miembro_doctorado }}</div>

    <div class="text-right">a nivel maestría</div>
    <div class="bg-stone-50 w-12 px-2">{{ U.academico.resumen_curricular.miembro_maestria }}</div>
  </div>

  {% if U.academico.resumen_curricular.otros_posgrados %}
  <h3>Otros programas de posgrado en los que participa</h3>
  <div class="text-base max-w-prose font-serif">
    {{ U.academico.resumen_curricular.otros_posgrados|markdown }}
  </div>
  {% endif %}

  <h3>Experiencia docente</h3>

  <div class="text-purple-800">Cursos, talleres o seminarios impartidos en los últimos cinco años.</div>
  <div class="text-base max-w-prose font-serif">
    {{ U.academico.resumen_curricular.experiencia_docente|markdown }}
  </div>
</div>



<div class="bg-orange-200 p-4">
  <h3>Publicaciones</h3>
  
  <div class="text-purple-800">Cinco publicaciones relevantes en temas de ciencias de la sostenibilidad.</div>
  <div class="text-base max-w-prose font-serif">
    {{ U.academico.resumen_curricular.publicaciones|markdown }}
  </div>

  {% if resumen.otros_productos %}
  <div class="text-purple-800">Otros productos.</div>
  <div class="text-base max-w-prose font-serif">
    {{ U.academico.resumen_curricular.otros_productos|markdown }}
  </div>
  {% endif %}

  <h3> Total de publicaciones (trayectoria profesional completa)</h3>
  <div class="grid grid-cols-3">
    <div></div>
    <div>Total</div>
    <div>Reciente</div>

    <div class="text-right">Artículos publicados en revistas nacionales e internacionales</div>    
    <div class="bg-orange-50 w-12 px-2">
      {{ U.academico.resumen_curricular.articulos_total }}
    </div>
    <div class="bg-orange-50 w-12 px-2">
      {{ U.academico.resumen_curricular.articulos_recientes }}
    </div>

    <div class="text-right">
      Capítulos de libro publicados
    </div>
    <div class="bg-orange-50 w-12 px-2">
      {{ U.academico.resumen_curricular.capitulos_total }}
    </div>
    <div class="bg-orange-50 w-12 px-2">
      {{ U.academico.resumen_curricular.capitulos_recientes }}
    </div>

    <div class="text-right">
      Libros publicados
    </div>
    <div class="bg-orange-50 w-12 px-2">
      {{ U.academico.resumen_curricular.libros_total }}
    </div>
    <div class="bg-orange-50 w-12 px-2">
      {{ U.academico.resumen_curricular.libros_recientes }}
    </div>
  </div>
  
</div>

<div class="bg-amber-50 p-4">
  <h3> Actividad profesional y de Investigación</h3>
  
  <div class="flex flex-wrap">
    <div class="p-8">
      <div class="text-purple-800">Palabras clave</div>
      <div class="text-base max-w-prose font-serif">
<pre>
{{ U.academico.resumen_curricular.palabras_clave }}
</pre>
      </div>
      
      <div class="text-purple-800">Metodologías que aplica en sus investigaciones, una por renglón</div>
      <div class="text-base max-w-prose font-serif">
	{{ U.academico.resumen_curricular.metodologias|markdown }}
      </div>
      
      <div class="text-purple-800">Marcos conceptuales que aplica en sus investigaciones</div>
      <div class="text-base max-w-prose font-serif">
	{{ U.academico.resumen_curricular.marcos|markdown }}
      </div>
      
      <div class="text-purple-800">Motivación para participar en el PCS</div>
      <div class="text-base max-w-prose font-serif">
	{{ U.academico.resumen_curricular.motivacion|markdown }}
      </div>
    </div>

    <img src="/media/perfil-academico/{{ U.academico.id }}/wordcloud.svg" width="640px" alt="word cloud">
  </div>
</div>


