{% extends "posgradmin/posgradmin_base.html" %}
{% load md2 %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  &rsaquo; <a href="{% url 'inicio' %}">Inicio</a>
  &rsaquo; Perfil personal
</div>
{% endblock %}


{% block content %}




<h2>{{ object.get_full_name }}</h2>


{% if user == object and editable %}
<a
  class="bg-indigo-800 p-2 rounded text-white hover:bg-indigo-700 hover:text-white my-4"
  href="{% url 'editar_perfil' %}">editar</a>
{% endif %}


<div class="bg-stone-200 p-2 shadow-md mt-4">
{% if see_private %}
<h2>Datos Personales</h2>


{% if object.perfil.headshot %}
<img class="media-object"
     width="150px"
     src="{{ object.perfil.headshot.url }}" />
{% endif %}

<ul>
  <li>Fecha de Nacimiento
    {{ object.perfil.fecha_nacimiento|default:"" }}</li>
  <li>Genero: {{ object.perfil.genero }}</li>
  <li>Nacionalidad: {{ object.perfil.nacionalidad }}</li>
  <li>CURP: {{ object.perfil.curp }}</li>
  <li>RFC: {{ object.perfil.rfc }}</li>
</ul>

<h2>Información de contacto</h2>
<ul>
  <li>Teléfono {{ object.perfil.telefono }}</li>
  <li>Teléfono Móvil {{ object.perfil.telefono_movil }}</li>
  <li>email {{ object.email }}</li>
  <li>Sitio Web {{ object.perfil.website }}</li>
  <li>Dirección {{ object.perfil.direccion1 }}</li>
  <li>Código Postal {{ object.perfil.codigo_postal|default:"" }}</li>
</ul>

{% else %}

<h2>Información de contacto</h2>
<ul class="list-group">
  <li>email {{ object.email }}</li>
  <li>Sitio Web {{ object.perfil.website|default:'' }}</li>
</ul>
{% endif %}
</div>


<div class="bg-sky-100 p-2 shadow-md mt-4">
<h2>Grados Académicos</h2>


<ul class="list-group">
  {% for grado in object.gradoacademico_set.all %}
  <li>
    <strong>{{ grado.grado_obtenido }} </strong>@ {{ grado.institucion }}
    <p class="list-group-item-text">
      nivel {{ grado.nivel }}
      obtenido el {{ grado.fecha_obtencion }}<br />
    </p>

  </li>
  {% empty %}
  <li>
    <strong>No ha agregado grados académicos</strong>
  </li>
  {% endfor %}
</ul>

<div class="text-right">
  <a class="text-pink-700"
    href="{% url 'agregar_grado' %}">agregar grados académicos</a>
</div>
</div>



<div class="bg-neutral-200 p-2 shadow-md mt-4">
<h2>Adscripción</h2>

<ul class="list-group">
  {% if user.academico %}
  {% if user.academico.adscripcion_pcs %}
  <li>
    Entidad del PCS: <strong>{{ user.academico.adscripcion_pcs }}</strong>
    <button type="button"
	    class="rounded bg-red-800 p-2 text-white hover:bg-red-700 text-xs"
	    onClick="if (confirm('¿eliminar adscripción a {{ user.academico.adscripcion_pcs }}?'))
		       window.location='{% url 'eliminar_adscripcion_pcs' %}'">
      eliminar
    </button>
  </li>
  {% endif %}
  {% endif %}
  {% for ad in user.perfil.adscripcion_set.all %}
  <li>
    <strong>{{ ad }}</strong>
    {% if ad.catedra_conacyt %}
    <br />
    Cátedra CONACYT
    {% endif %}
    <br />
    {% if not ad.asociacion_PCS %}
    {{ ad.nombramiento }} desde {{ ad.anno_nombramiento }}
    {% endif %}

    <button type="button"
	    class="rounded bg-red-800 p-2 text-white hover:bg-red-700 text-xs"
	    onClick="if (confirm('¿eliminar adscripción a {{ ad.institucion }}?'))
		       window.location='{% url 'eliminar_adscripcion' ad.id%}'">
      eliminar
    </button>

  </li>
  {% endfor %}

  {% if not user.perfil.adscripcion_ok %}
  <li>
    <strong>No ha agregado su adscripción</strong>
  </li>
  {% endif %}
</ul>
<div class="flex flex-col bg-amber-100 p-2 rounded my-2 text-sm">
    <a class="text-pink-700"
     href="{% url 'agregar_adscripcion_pcs' %}">
      Agregar adscripción a las entidades participantes del Posgrado en Ciencias de la Sostenibilidad.</a>
    Sólo si está adscrito a alguna de las siguientes entidades:
  <ul>
    <li>Facultad de Ciencias</li>
    <li>Facultad de Arquitectura</li>
    <li>Escuela Nacional de Estudios Superiores Unidad León</li>
    <li>Escuela Nacional de Estudios Superiores Unidad Morelia</li>
    <li>Instituto de Ecología, Instituto de Ciencias del Mar y Limnología</li>
    <li>Instituto de Biología</li>
    <li>Instituto de Investigaciones Económicas</li>
    <li>Instituto de Investigaciones Sociales</li>
    <li>Instituto de Investigaciones en Ecosistemas y Sustentabilidad</li>
    <li>Instituto de Ingeniería</li>
    <li>Instituto de Energías Renovables.</li>
  </ul>
</div>

<div class="bg-orange-100 p-2 rounded my-2 text-sm">
  <a class="text-pink-700"
     href="{% url 'agregar_adscripcion' %}">Agregar adscripción a otras instituciones</a> que no participan como entidades del Posgrado en Ciencias de la Sostenibilidad.

</div>





     </div>
</div>


{% if user.anexoexpediente_set.count > 0 %}
<h2>Expediente</h2>

<ul class="list-group">
  {% for anexo in user.anexoexpediente_set.all %}
  <li>
    <a href="{{ anexo.url }}">
      {{ anexo }}
    </a> anexado el {{ anexo.fecha }}
  </li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
