{% load md2 %}
<div style="background-color: {% if object.academico.carencias_actividad %}#f1eaeb{% else %}#e0f8fd{% endif %}; padding: 1em;">
  
<h2>Actividad profesional y de Investigación</h2>

{% if object.academico.carencias_actividad %}
<div style="border-style: solid; border-width: 1px; border-color: red; padding: 1em;">
  <strong>Sección incompleta.</strong>
  Atención a los siguientes reactivos: <br />
  {{ object.academico.carencias_actividad|markdown }}
</div>
{% endif %}


{% if user == object %}
{% if object.academico.semaforo_maestria != "rojo" and editable == True %}
<!--<a class="bg-gray-200 p-2 m-2 rounded-lg"
   href="url 'academico_actividad'">editar esta sección</a>
<br /><br /> -->
{% endif %}
{% endif %}

<!-- subtablas -->


<h3 class="panel-title">Temas de Interés</h3>
{{ object.academico.lineas|markdown }}

<h3>Palabras clave</h3>

{{ object.academico.palabras_clave|markdown }}

<h3>Motivación para participar en el Programa</h3>
{{ object.academico.motivacion|markdown }}


<h3>Principales proyectos relacionados con Ciencias de la Sostenibilidad durante los últimos cinco años</h3>

{{ object.academico.proyectos_sostenibilidad|markdown }}

<h3>Proyectos vigentes en los que pueden participar alumnos del PCS.</h3>
{{ object.academico.proyectos_vigentes|markdown }}

<h3>Líneas de Investigación</h3>
<ul>
  {% for l in object.academico.lineas_de_investigacion.all %}
  <li>{{ l }}</li>
  {% endfor %}
</ul>

<h3>Campos de Conocimiento</h3>

<ul>
  {% for c in object.academico.campos_de_conocimiento.all %}
  <li>{{ c }}</li>
  {% endfor %}
</ul>

</div>
