<div class="flex flex-wrap">
  

  
  <div class="bg-neutral-100
	      p-4">
    
    <h3>Datos Personales</h3>
    
    {% if U.perfil.headshot %}
    <img alt="foto" class=""
	 width="150px"
	 src="{{ U.perfil.headshot.url }}" />
    
    {% endif %}

    <div class="grid grid-cols-2 gap-2">
      <div class="justify-self-end"><strong>Fecha de Nacimiento</strong></div>
      <div>{{ U.perfil.fecha_nacimiento|default:"" }}</div>
      
      <div class="justify-self-end"><strong>Genero</strong></div>
      <div>{{ U.perfil.genero }}</div>
      
      <div class="justify-self-end"><strong>Nacionalidad</strong></div>
      <div>{{ U.perfil.nacionalidad }}</div>
      
      <div class="justify-self-end"><strong>CURP</strong></div>
      <div>{{ U.perfil.curp }}</div>
      
      <div class="justify-self-end"><strong>RFC</strong></div>
      <div>{{ U.perfil.rfc }}</div>
    </div>
  </div>



  <div class="bg-green-50
	      max-w-prose
	      p-4">
    
    <h3>
      Información de contacto
    </h3>
    <div class="grid grid-cols-2 gap-2">
      
      <div class="justify-self-end"><strong>Teléfono</strong></div>
      <div>{{ U.perfil.telefono }}</div>
    
      <div class="justify-self-end"><strong>Teléfono Móvil</strong></div>
      <div>{{ U.perfil.telefono_movil }}</div>
    
      <div class="justify-self-end"><strong>email</strong></div>
      <div><a href="mailto:{{ U.email }}">{{ U.email }}</a></div>
    
      <div class="justify-self-end"><strong>Sitio Web</strong></div>
      <div>{{ U.perfil.website }}</div>
    
      <div class="justify-self-end"><strong>Dirección</Strong></div>
      <div>{{ U.perfil.direccion1 }}</div>
    
      <div class="justify-self-end"><strong>Código Postal</strong></div>
      <div>{{ U.perfil.codigo_postal|default:"" }}</div>
    </div>
  </div>


  
  <div class="bg-amber-50
	      p-4">

    <h3>
      Adscripción
    </h3>

    <ul>
      {% if U.academico.adscripcion_pcs %}
      <li>
	<strong>{{ U.academico.adscripcion_pcs }}</strong>
      </li>
      {% endif %}
      
      {% for ad in U.perfil.adscripcion_set.all %}
      <li class="list-group-item">
	{{ ad }}
	{% if ad.catedra_conacyt %}
	<br />
	Cátedra CONACYT
	{% endif %}
	<br />
	{% if not ad.asociacion_PCS %}
	{{ ad.nombramiento }} desde {{ ad.anno_nombramiento }}
	{% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>


  <div class="flex flex-col
	      p-4
	      bg-blue-50">
    
    <h3>
      Grados Académicos
    </h3>
      
    {% for grado in U.gradoacademico_set.all %}
    <div>
      <strong>{{ grado.grado_obtenido }} </strong>@ {{ grado.institucion }}
      <p class="list-group-item-text">
	nivel {{ grado.nivel }}
	obtenido el {{ grado.fecha_obtencion }}<br />
      </p>
    </div>
    {% empty %}
    
    {% endfor %}
  </div>
</div>
