{% extends "posgradmin/posgradmin_base.html" %}
{% load md2 %}

{% block content %}


<div class="text-2xl font-bold">
  {{ U.get_full_name }}
</div>

{% if U.perfil %}

{% if not U.perfil.adscripcion_ok %}
<div class="bg-red-500 text-white">
  <strong>No ha agregado su adscripción</strong>
</div>
{% endif %}

{% include "posgradmin/perfil_personal_comite.html" %}


{% else %}
<div class="bg-red-500 text-white">
  <strong>No tiene perfil personal.</strong>
</div>
{% endif %}


{% if not U.gradoacademico_set.all %}
<div class="bg-red-500 text-white">
  <strong>No ha agregado grados académicos</strong>
</div>
{% endif %}


{% if U.academico %}

{% include "posgradmin/perfil_academico_comite.html" %}

{% endif %}

{% endblock %}
