{% extends "posgradmin/posgradmin_base.html" %}
{% load md2 %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  &rsaquo; <a href="{% url 'inicio' %}">Inicio</a>
  &rsaquo; Perfil Académico
</div>
{% endblock %}

{% block content %}

<h2>{{ object.get_full_name }}</h2>

{% if user == object %}
<a class="bg-indigo-800 p-2 rounded text-white hover:bg-indigo-700 hover:text-white my-4"   
   href="{% url 'academico_perfil' %}">editar</a>
<br /><br /> 
{% endif %}


<div style="background-color: {% if object.academico.carencias_general %}#f1eaeb{% else %}#e0fae1{% endif %}; padding: 1em;">  

<h2>General</h2>



<ul class="list-group">

  {% if object.academico.anexo_CV %}
  <li class="list-group-item">
    <a href="{{ object.academico.anexo_CV.url }}">CV extenso</a></li>
  {% endif %}

  {% if object.academico.anexo_solicitud %}
  <li class="list-group-item">
    <a href="{{ object.academico.anexo_solicitud.url }}">Solicitud de Acreditación como Tutor</a></li>
  {% endif %}

  {% if object.academico.ultimo_grado %}
  <li class="list-group-item">
    <a href="{{ object.academico.ultimo_grado.url }}">Último grado académico</a>
  </li>
  {% endif %}

  {% if object.academico.anexo_guia_avances %}
  <li class="list-group-item">
    <a href="{{ object.academico.anexo_guia_avances.url }}">Guía de avances por semestre para maestría y doctorado</a>
  </li>
  {% endif %}

  {% if object.academico.anexo_requisitos_comites %}
  <li class="list-group-item">
    <a href="{{ object.academico.anexo_requisitos_comites.url }}">Criterios para conformación de comités tutores</a>
  </li>
  {% endif %}

  {% if object.academico.anexo_vs_violencia %}
  <li class="list-group-item">
    <a href="{{ object.academico.anexo_vs_violencia.url }}">Compromiso por una academia libre de violencias</a>
  </li>
  {% endif %}
  

  
  <li class="list-group-item">
    Estímulo UNAM: {{ object.academico.estimulo_UNAM|default:'' }}
  </li>
  <li class="list-group-item">
    Nivel SNI: {{ object.academico.nivel_SNI|default:'' }}</li>

  <li class="list-group-item">
    Acreditación: {{ object.academico.show_acreditacion }}

    {% if object.academico.fecha_acreditacion %}
    <p>Acreditado el {{ object.academico.fecha_acreditacion }}</p>
    {% endif %}

  </li>

  {% if object.academico.DGEE %}
  <li class="list-group-item">
    DGEE: {{ object.academico.DGEE|default:'' }}</li>
  {% endif %}

  {% if object.academico.numero_trabajador_unam %}
  <li class="list-group-item">
    Número de trabajador UNAM: {{ object.academico.numero_trabajador_unam|default:'' }}</li>
  {% endif %}
</ul>

<h3>Disponibilidad para estudiantes</h3>
<ul class="list-group">
  <li class="list-group-item">
    Como tutor principal (dirección de alumnos):
    {% if object.academico.disponible_tutor %}
    ✔ disponible
    {% else %}
    ✖ no disponible
    {% endif %}
  </li>

  <li class="list-group-item">
    Como miembro de comité tutor (asesoría de alumnos):
    {% if object.academico.disponible_miembro %}
    ✔ disponible
    {% else %}
    ✖ no disponible
    {% endif %}
  </li>
</ul>


</div>

{% endblock %}
