{% extends "posgradmin/posgradmin_base.html" %}
{% load md2 %}


{% block breadcrumbs %}
<div class="breadcrumbs">
  &rsaquo; <a href="{% url 'inicio' %}">Inicio</a>
  &rsaquo; Perfil Académico
</div>
{% endblock %}


{% block content %}

{% if not user.perfil %}
<div style="border-style: solid; border-width: 1px; border-color: red; padding: 1em;">
<strong>No tiene perfil personal.</strong>
<a href="{% url 'editar_perfil' %}">Crear perfil personal.</a>.
</div>
{% endif %}


<h1>{{ object.get_full_name }}</h1>
<hr />

{% if user.is_staff %}
<a href="{% url 'admin:posgradmin_academico_change' object.academico.id %}">registro en la base de datos</a>
{% endif %}




<div class="rounded-t shadow bg-teal-50 text-sm mt-2">
  <ul class="p-2 m-2">

    {% if object.academico.anexo_CV %}
    <li>
      <a href="{{ object.academico.anexo_CV.url }}">CV extenso</a></li>
    {% endif %}

    {% if object.academico.ultimo_grado %}
    <li>
      <a href="{{ object.academico.ultimo_grado.url }}">Último grado académico</a>
    </li>
    {% endif %}

    <li>
      Acreditación: {{ object.academico.show_acreditacion }}</li>
    {% if object.academico.fecha_acreditacion %}
    <li>Acreditado el {{ object.academico.fecha_acreditacion }}</li>
    {% endif %}
    
  </ul>

  <div class="p-2 bg-gray-100 text-sm mt-2 col-span-2">  
    {% if user == object and editable == True %}
    <a href="{% url 'perfil_profesor_editar' %}">editar perfil de profesor</a>
    {% endif %}
  </div>
</div>
<!-- academico -->
{% endblock %}
