{% extends "posgradmin/posgradmin_base.html" %}
{% load md2 %}


{% block breadcrumbs %}
<div class="breadcrumbs">
  &rsaquo; <a href="{% url 'inicio' %}">Inicio</a>
  &rsaquo; Resumen Curricular
</div>
{% endblock %}


{% block content %}

<h2>Resumen Curricular</h2>


{% if form %}
<form method='POST'  enctype="multipart/form-data" action="{% url 'resumen_curricular_editar' %}">
  <div id='form-errors'>{{ form_errors }}</div>
  {% csrf_token %}
  {{ form.as_div }}
  <input type="submit" value="guardar" class="bg-purple-800 text-white hover:bg-purple-500 hover:text-white rounded p-2">
</form>
{% else %}

<a class="bg-indigo-800 p-2 rounded text-white hover:bg-indigo-700 hover:text-white my-4" href="{% url 'resumen_curricular_editar' %}">editar</a>

<div class="mt-4 bg-stone-200 p-4">

  <h3>Formación de Estudiantes (trayectoria profesional completa) </h3>

  <h4>Tutor o co-tutor</h4>

  Tutor o co-tutor de estudiantes graduados

  <div class="grid grid-cols-2">
    <div class="text-right">a nivel doctorado</div>
    <div class="bg-stone-50 w-12 px-2">{{ resumen.tutor_doctorado }}</div>

    <div class="text-right">a nivel maestría</div>
    <div class="bg-stone-50 w-12 px-2">{{ resumen.tutor_maestria }}</div>

    <div class="text-right">a nivel licenciatura</div>
    <div class="bg-stone-50 w-12 px-2">{{ resumen.tutor_licenciatura }}</div>
  </div>

  <h4>Miembro de comité</h4>

  Cantidad total de participaciones como miembro de comité tutor
  (excluyendo co-tutoría o tutoría principal) de estudiantado

  <div class="grid grid-cols-2">
    <div class="text-right">a nivel doctorado</div>
    <div class="bg-stone-50 w-12 px-2">{{ resumen.miembro_doctorado }}</div>

    <div class="text-right">a nivel maestría</div>
    <div class="bg-stone-50 w-12 px-2">{{ resumen.miembro_maestria }}</div>
  </div>

  {% if resumen.otros_posgrados %}
  <h3>Otros programas de posgrado en los que participa</h3>
  <div class="text-base max-w-prose font-serif">
    {{ resumen.otros_posgrados|markdown }}
  </div>
  {% endif %}

  <h3>Experiencia docente</h3>

  <div class="text-purple-800">Cursos, talleres o seminarios impartidos en los últimos cinco años.</div>
  <div class="text-base max-w-prose font-serif">
    {{ resumen.experiencia_docente|markdown }}
  </div>
</div>



<div class="bg-orange-200 p-4">
  <h3>Publicaciones</h3>
  
  <div class="text-purple-800">Cinco publicaciones relevantes en temas de ciencias de la sostenibilidad.</div>
  <div class="text-base max-w-prose font-serif">
    {{ resumen.publicaciones|markdown }}
  </div>

  {% if resumen.otros_productos %}
  <div class="text-purple-800">Otros productos.</div>
  <div class="text-base max-w-prose font-serif">
      {{ resumen.otros_productos|markdown }}
  </div>
  {% endif %}

  <h3> Total de publicaciones (trayectoria profesional completa)</h3>
  <div class="grid grid-cols-2">
    <div class="text-right">
      Artículos publicados en revistas nacionales e internacionales
    </div>
    <div class="bg-orange-50 w-12 px-2">
      {{ resumen.articulos_total }}
    </div>
    
    <div class="text-right">
      Artículos publicados en revistas nacionales e internacionales durante los últimos 5 años
    </div>
    <div class="bg-orange-50 w-12 px-2">
      {{ resumen.articulos_recientes }}
    </div>

    <div class="text-right">
      Capítulos de libro publicados
    </div>
    <div class="bg-orange-50 w-12 px-2">
      {{ resumen.capitulos_total }}
    </div>

    <div class="text-right">
      Capítulos de libro publicados durante los últimos 5 años
    </div>
    <div class="bg-orange-50 w-12 px-2">
      {{ resumen.capitulos_recientes }}
    </div>

    <div class="text-right">
      Libros publicados
    </div>
    <div class="bg-orange-50 w-12 px-2">
      {{ resumen.libros_total }}
    </div>

    <div class="text-right">
      Libros publicados durante los últimos 5 años
    </div>
    <div class="bg-orange-50 w-12 px-2">
      {{ resumen.libros_recientes }}
    </div>
  </div>
  
</div>

<div class="bg-amber-50 p-4">
    <h3> Actividad profesional y de Investigación</h3>

    <div class="text-purple-800">Palabras clave</div>
    <div class="text-base max-w-prose font-serif mb-4">
<pre>
{{ resumen.palabras_clave }}
</pre>
    </div>

    <div class="text-purple-800">Metodologías que aplica en sus investigaciones, una por renglón</div>
    <div class="text-base max-w-prose font-serif">
      {{ resumen.metodologias|markdown }}
    </div>

    <div class="text-purple-800">Marcos conceptuales que aplica en sus investigaciones</div>
    <div class="text-base max-w-prose font-serif">
      {{ resumen.marcos|markdown }}
    </div>

    <div class="text-purple-800">Motivación para participar en el PCS</div>
    <div class="text-base max-w-prose font-serif">
      {{ resumen.motivacion|markdown }}
    </div>
    
</div>

{% endif %}

{% endblock %}
