{% extends "posgradmin/posgradmin_base.html" %}

{% block title %}
Tutores
{% endblock %}


{% block content %}
<h1>
Tutores
</h1>

<div class="flex flex-row">
<form method="get">
  {{ form }}
  <input type="submit" value="buscar" class="bg-purple-800 text-white p-2 m-2 rounded"/>
</form>
</div>

{% if tutores %}
{% if linea %}
<h2>{{ linea }}</h2>
{% endif %}
{% if campo %}
<h2>{{ campo }}</h2>
{% endif %}

<div class="flex flex-col">
  <div class="flex flex-row bg-stone-200">
    <div class="border-gray-200 m-2 p-2 w-1/3 font-bold">Tutor(a)</div>
    <div class="border-gray-200 m-2 p-2 w-1/3 font-bold">Palabras clave</div>
    <div class="border-gray-200 m-2 p-2 w-1/6 font-bold">Disponible como tutor(a) principal (dirección de alumnos)</div>
    <div class="border-gray-200 m-2 p-2 w-1/6 font-bold">Disponible como miembro de comité tutor (asesoría de alumnos)</div>    
  </div>
  {% for t in tutores %}
  <div class="flex flex-row {% cycle 'bg-slate-100' 'bg-slate-200' %}">
    <div class="border-gray-200 m-2 p-2 w-1/3"><a href="{% url 'tutor_detalle' t.id %}">{{ t }}</a></div>
    <div class="border-gray-200 m-2 p-2 w-1/3">{{ t.palabras_clave }}</div>
    <div class="border-gray-200 m-2 p-2 w-1/6 font-2xl">
      {% if t.acreditacion != "MCT_M" %}
      {% if t.disponible_tutor and t.disponible_tutor_vobo %}disponible{% else %}no disponible{% endif %}
      {% endif %}
    </div>
    <div class="border-gray-200 m-2 p-2 w-1/6 font-2xl">
      {% if t.disponible_miembro and t.disponible_miembro_vobo %}disponible{% else %}no disponible{% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% else %}

<h2>Líneas de investigación</h2>
<ul>
  {% for l in lineas %}
  <li><a href="{% url 'tutores_filter_linea' l.id %}">{{ l }}</a></li>
  {% endfor %}
</ul>


<h2>Campos de conocimiento</h2>
<ul>
  {% for c in campos %}
  <li><a href="{% url 'tutores_filter_campo' c.id %}">{{ c }}</li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
