{% extends "posgradmin/posgradmin_base.html" %}
{% load static %}


{% block content %}

{% if title %}<h1>{{ title }}</h1>{% endif %}

<div class="bg-stone-100 grid grid-cols-5 gap-1">

  <div class="p-2 bg-stone-200">estado del estudiante</div>
  <div class="p-2 bg-stone-200">semestre</div>
  <div class="p-2 bg-stone-200">tipo de membresía</div>
  <div class="p-2 bg-stone-200">estudiante</div>
  <div class="p-2 bg-stone-200">generación</div>  


  {% for desenlace, tipo, m in tutorias_maestria %}
  <div class="p-2 {% cycle 'bg-blue-100' 'bg-blue-50' %}">{{ desenlace }}</div>
  <div class="p-2 {% cycle 'bg-blue-100' 'bg-blue-50' %}">{{ m.year }}-{{ m.semestre }}</div>
  <div class="p-2 {% cycle 'bg-blue-100' 'bg-blue-50' %}">{{ tipo }}</div>
  <div class="p-2 {% cycle 'bg-blue-100' 'bg-blue-50' %}">{{ m.estudiante }}</div>
  <div class="p-2 {% cycle 'bg-blue-100' 'bg-blue-50' %}">{{ m.estudiante.gen_maestria }}</div>
  {% endfor %}


  {% for desenlace, tipo, m in tutorias_doctorado %}
  <div class="p-2 {% cycle 'bg-blue-100' 'bg-blue-50' %}">{{ desenlace }}</div>
  <div class="p-2 {% cycle 'bg-blue-100' 'bg-blue-50' %}">{{ m.year }}-{{ m.semestre }}</div>
  <div class="p-2 {% cycle 'bg-blue-100' 'bg-blue-50' %}">{{ tipo }}</div>
  <div class="p-2 {% cycle 'bg-blue-100' 'bg-blue-50' %}">{{ m.estudiante }}</div>
  <div class="p-2 {% cycle 'bg-blue-100' 'bg-blue-50' %}">{{ m.estudiante.gen_doctorado }}</div>
  {% endfor %}

</div>

{% endblock %}
