{% extends "posgradmin/posgradmin_base.html" %}
{% load markdownify %}

{% block title %}
{{ a }}
{% endblock %}


{% block content %}
<h1>{{ a }}</h1>

<div class="flex flex-col bg-teal-50 p-2">
  <div class="w-max-prose">
    <div>Acreditación: {{ a.show_acreditacion }} </div>

    {% if a.acreditacion == "M" or a.acreditacion == "D" %}
    {% if a.disponible_tutor and a.disponible_tutor_vobo %}
    <div> Disponible como tutor principal (dirección de alumnos).</div>
    {% else %}
    <div> Sin disponibilidad para tutor principal.</div>
    {% endif %}

    
    {% if a.disponible_miembro and a.disponible_miembro_vobo %}
    <div> Disponible como miembro de comité tutor (asesoría de alumnos).</div>
    {% else %}
    <div> Sin disponibilidad para miembro de comité tutor (asesoría de alumnos).</div>
    {% endif %}
    
    
    {% else %}
    
    {% if a.acreditacion == "MCT_M" %}
    {% if a.disponible_miembro and a.disponible_miembro_vobo %}
    <div> Disponible como miembro de comité tutor (asesoría de alumnos).</div>
    {% endif %}
    
    {% endif %}
    
    {% endif %}
    
    
    <h2> Información de contacto</h2>
    
    <a href="mailto:{{ a.user.email }}">{{ a.user.email }}</a>
    <br />
    {% if a.user.perfil.website %}
    <a href="{{ a.user.perfil.website }}">
      {{ a.user.perfil.website|urlize }}
    </a>
    {% endif %}
    
    
    
    <h2> Adscripción</h2>

    <ul>
      {% if a.adscripcion_pcs %}
      <li>{{ a.adscripcion_pcs }}</li>
      {% endif %}
      {% for ad in a.user.perfil.adscripcion_set.all %}
      <li> {{ ad }} {% if ad.catedra_conacyt %}Cátedra CONACYT{% endif %}</li>
      {% endfor %}
    </ul>
      
  </div>

  <div class="bg-white p-2 w-">
    <img class="w-1/2 float-right" src="https://sostenibilidad.posgrado.unam.mx/media/perfil-academico/{{ a.id }}/wordcloud.png" />        
    <h1> Perfil académico</h1>
    
    <h2> Grados académicos</h2>
    
    <ul>
      {% for grado in a.user.gradoacademico_set.all %}
      <li>{{ grado.grado_obtenido }}, {{ grado.institucion }}, nivel {{ grado.nivel }} obtenido el {{ grado.fecha_obtencion }}</li>
      {% endfor %}
    </ul>
    
    
    <h2> Temas de Interés</h2>
    
    {{ a.lineas }}
    
    <h2> Palabras clave</h2>
    
    <ul>
      {% for p in palabras_clave %}
      <li> {{ p }}</li>
      {% endfor %}
    </ul>
    
    <h2> Cinco publicaciones más destacadas en temas relacionados con las Ciencias de la Sostenibilidad</h2>
    
    {{ a.top_5|linebreaksbr }}
    
    
    <h1> Principales proyectos relacionados con Ciencias de la Sostenibilidad durante los últimos cinco años</h1>
    
    {{ a.proyectos_sostenibilidad|linebreaksbr }}
    
    <h1> Proyectos vigentes en los que pueden participar alumnos del PCS</h1>
    
    {{ a.proyectos_vigentes|linebreaksbr }}
    
    {% if a.acreditacion == 'D' %}
    <h2> Líneas de Investigación</h2>
    
    <ul>
      {% for l in a.lineas_de_investigacion.all %}
      <li> {{ l }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    
    
    <h2> Campos de Conocimiento</h2>
    <ul>
      {% for c in a.campos_de_conocimiento.all %}
      <li>{{ c }}</li>
      {% endfor %}
    </ul>
  </div>

</div>
{% endblock %}

  
