{% extends "posgradmin/posgradmin_base.html" %}
{% load md2 %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  &rsaquo; <a href="{% url 'inicio' %}">Inicio</a>
  {% if object.academico %}
  &rsaquo; <a href="{% url 'lista_academicos' %}">Académicos</a>
  {% endif %}
  &rsaquo; <a href="{% url 'user_detail' object.id %}">{{ object.get_full_name }}</a>
</div>
{% endblock %}


{% block content %}

<h1>{{ object.academico.titulo }} {{ object.get_full_name }}</h1>
{% if object.estudiante %}

<!--
 ######   ####    #####  #    #  #####      #      ##    #    #   #####  ######
 #       #          #    #    #  #    #     #     #  #   ##   #     #    #
 #####    ####      #    #    #  #    #     #    #    #  # #  #     #    #####
 #            #     #    #    #  #    #     #    ######  #  # #     #    #
 #       #    #     #    #    #  #    #     #    #    #  #   ##     #    #
 ######   ####      #     ####   #####      #    #    #  #    #     #    ######
-->

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
      Estudiante
    </h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">
	Cuenta: {{ object.estudiante.cuenta|default:'' }}
      </li>
      <li class="list-group-item">
	Estado: {{ object.estudiante.estado|default:'' }}
      </li>
      <li class="list-group-item">
	plan: {{ object.estudiante.plan|default:'' }}</li>
      <li class="list-group-item">
	entidad: {{ object.estudiante.entidad_pcs|default:'' }}</li>
      <li class="list-group-item">
	ingreso: {{ object.estudiante.ingreso|default:'' }}</li>
      <li class="list-group-item">
	semestre: {{ object.estudiante.semestre|default:'' }}</li>
    </ul>

    {% if user.is_staff %}
    <a href="{% url 'admin:posgradmin_estudiante_change'  object.estudiante.id %}">editar registro de estudiante</a><br /><br />
    {% endif %}


    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">
	  <span class="glyphicon glyphicon-tent" aria-hidden="true"></span>
	  Comité Tutor
	</h3>
      </div>
      <div class="panel-body">
	{{ object.estudiante.comite_tutoral.as_ul|safe }}
	{% if see_private %}
	<hr />
	{{ object.estudiante.comite_tutoral.solicitud.as_a|safe }}
	{{ object.estudiante.comite_tutoral.solicitud.dictamen_final.fecha }}
	{% endif %}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">
	  <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
	  Proyecto
	</h3>
      </div>
      <div class="panel-body">
	{% if object.estudiante.get_proyecto is None %}
	<div class="alert alert-danger" role="alert">
	  <strong>No ha registrado proyecto</strong>
	</div>
	{% else %}
	<h4>{{ object.estudiante.get_proyecto.nombre }}</h4>
	Campo de Conocimiento: {{ object.estudiante.proyecto_set.last.campo_conocimiento }}

	{% if see_private %}
	{% if not object.estudiante.get_proyecto.aprobado %}
	<div class="alert alert-warning" role="alert">
	  <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
	  Proyecto no aprobado.
	  Ver solicitud {{ object.estudiante.get_proyecto.solicitud.as_a|safe }}.
	</div>
	{% endif %}
	{% endif %}

	{% if see_private %}
	{% if object.estudiante.get_proyecto_no_aprobado %}
	{% if object.estudiante.get_proyecto_no_aprobado.solicitud.estado != 'cancelada' %}
	<div class="alert alert-warning" role="alert">
	  <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
	  Solicitud de cambio: <strong>{{ object.estudiante.get_proyecto_no_aprobado }}</strong>
	  {{ object.estudiante.get_proyecto_no_aprobado.solicitud.as_a|safe }}.
	</div>
	{% endif %}
	{% endif %}
	{% endif %}
	{% endif %}
      </div>
    </div>
  </div>
</div>

<!-- estudiante -->
{% endif %}






{% if object.academico %}
<!--
   ##     ####     ##    #####   ######  #    #     #     ####    ####
  #  #   #    #   #  #   #    #  #       ##  ##     #    #    #  #    #
 #    #  #       #    #  #    #  #####   # ## #     #    #       #    #
 ######  #       ######  #    #  #       #    #     #    #       #    #
 #    #  #    #  #    #  #    #  #       #    #     #    #    #  #    #
 #    #   ####   #    #  #####   ######  #    #     #     ####    ####
  -->
    {% if user == object %}
    <a href="{% url 'registrar_academico' %}">editar registro de académico</a> |
    <a href="{% url 'editar_perfil' %}">editar perfil</a>
    <br /><br />
    {% endif %}

    {% if user.is_staff %}
    <a href="{% url 'admin:posgradmin_academico_change' object.academico.id %}">editar registro de académico</a><br /><br />
    {% endif %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon glyphicon-education" aria-hidden="true"></span>
      Académico
    </h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">
	Nivel PRIDE: {{ object.academico.nivel_PRIDE|default:'' }}
      </li>
      <li class="list-group-item">
	Nivel SNI: {{ object.academico.nivel_SNI|default:'' }}</li>
      <li class="list-group-item">
	acreditación: {{ object.academico.show_acreditacion }}</li>
      <li class="list-group-item">
	CVU: {{ object.academico.CVU|default:'!' }}</li>

      {% if object.academico.DGEE %}
      <li class="list-group-item">
	DGEE: {{ object.academico.DGEE|default:'' }}</li>
      {% endif %}

      {% if object.academico.numero_trabajador_unam %}
      <li class="list-group-item">
	Número de trabajador UNAM: {{ object.academico.numero_trabajador_unam|default:'' }}</li>
      {% endif %}

      {% if object.academico.disponible_tutor %}
      <li class="list-group-item">
	Disponible como tutor principal (dirección de alumnos).
      </li>
      {% endif %}

      {% if object.academico.disponible_miembro %}
      <li class="list-group-item">
	Disponible como miembro de comité tutor (asesoría de alumnos)</li>
      {% endif %}


    </ul>



    {% if object.perfil %}
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">
	  <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>
	  Adscripción
	</h3>
      </div>
      <div class="panel-body">
	<ul class="list-group">
	  {% for ad in object.perfil.adscripcion_set.all %}
	  <li class="list-group-item">
	    {{ ad }}
	  </li>
	  {% endfor %}
	</ul>
	{% if not object.perfil.adscripcion_ok %}
	    <div class="alert alert-danger" role="alert">
	      <strong>No ha agregado su adscripción</strong>
	    </div>
	{% endif %}
      </div>
    </div>
    {% endif %}



    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">
	  <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
	  Estudiantes
	</h3>
      </div>
      <div class="panel-body">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>nombre</th>
	      <th>estado</th>
	      <th>plan</th>
	      <th>entidad</th>
	      <th>ingreso</th>
	      <th>semestre</th>
	    </tr>
	  </thead>

	  <tbody>
	    {% for estudiante in object.academico.estudiantes %}
	    <tr>
	      <td><a href="{% url 'user_detail' estudiante.user.id %}">
		  {{ estudiante.user.id }}</a></td>
	      <td><a href="{% url 'user_detail' estudiante.user.id %}">{{ estudiante.user.get_full_name }}</a></td>
	      <td>{{ estudiante.estado|default:'' }}</td>
	      <td>{{ estudiante.plan|default:'' }}</td>
	      <td>{{ estudiante.institucion|default:'' }}</td>
	      <td>{{ estudiante.ingreso|default:'' }}</td>
	      <td>{{ estudiante.semestre|default:'' }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">
	  <span class="glyphicon glyphicon-tent" aria-hidden="true"></span>
	  Participación en Comités
	</h3>
      </div>
      <div class="panel-body">
	<ul class="list-group">
	  {% for c in object.academico.comites %}
	  <li class="list-group-item">
	    <h4>{{ c.tipo }} {{ c.solicitud.as_a|safe }}</h4>
	    {{ c.solicitud.dictamen_final.fecha }}<br />
	    <strong>Estudiante:</strong>
	    <a href="{% url 'user_detail' c.estudiante.user.id %}">{{ c.estudiante }}</a><br />
	    {{ c.as_ul|safe }}
	  </li>
	  {% endfor %}
	</ul>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon glyphicon-education" aria-hidden="true"></span>
      Actividad profesional y de Investigación
    </h3>
  </div>
  <div class="panel-body">
    <!-- subtablas -->


    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">
	  <span class="glyphicon glyphicon glyphicon-tag" aria-hidden="true"></span>
	  Líneas de Investigación
	</h3>
      </div>
      <div class="panel-body">
	{% for l in object.academico.lineas_de_investigacion.all %}
	<li>{{ l }}</li>
	{% endfor %}
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">
	  <span class="glyphicon glyphicon glyphicon-tag" aria-hidden="true"></span>
	  Campos de Conocimiento
	</h3>
      </div>
      <div class="panel-body">
	{% for c in object.academico.campos_de_conocimiento.all %}
	<li>{{ c }}</li>
	{% endfor %}
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">
	  <span class="glyphicon glyphicon glyphicon-road" aria-hidden="true"></span>
	  Temas de Interés
	</h3>
      </div>
      <div class="panel-body">
	{{ object.academico.lineas|markdown }}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">
	  <span class="glyphicon glyphicon glyphicon-tag" aria-hidden="true"></span>
	  Palabras clave
	</h3>
      </div>
      <div class="panel-body">
	{{ object.academico.palabras_clave|markdown }}
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">
	  <span class="glyphicon glyphicon glyphicon-tasks" aria-hidden="true"></span>
	  Proyectos relacionados con Ciencias de la Sostenibilidad
	</h3>
      </div>
      <div class="panel-body">
	{{ object.academico.proyectos_sostenibilidad|markdown }}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">
	  <span class="glyphicon glyphicon glyphicon-tasks" aria-hidden="true"></span>
	  Proyectos vigentes
	</h3>
      </div>
      <div class="panel-body">
	{{ object.academico.proyectos_vigentes|markdown }}
      </div>
    </div>


  </div>
</div>



<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon glyphicon-education" aria-hidden="true"></span>
      Resumen Curricular
    </h3>
  </div>
  <div class="panel-body">


    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">
	  <span class="glyphicon glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>
	  Tutorías
	</h3>
      </div>
      <div class="panel-body">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th></th><th>Licenciatura</th><th>Maestría</th><th>Doctorado</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>Cantidad de tesis dirigidas </td>
	      <td>{{ object.academico.tesis_licenciatura|default_if_none:"" }}</td>
	      <td>{{ object.academico.tesis_maestria|default_if_none:"" }}</td>
	      <td>{{ object.academico.tesis_doctorado|default_if_none:"" }}</td>
	    </tr>
	    <tr>
	      <td>Cantidad de tesis dirigidas los últimos 5 años</td>
	      <td>{{ object.academico.tesis_licenciatura_5|default_if_none:"" }}</td>
	      <td>{{ object.academico.tesis_maestria_5|default_if_none:"" }}</td>
	      <td>{{ object.academico.tesis_doctorado_5|default_if_none:"" }}</td>
	    </tr>
	    <tr>
	      <td>Cantidad de comités en los que participa en el PCS</td>
	      <td></td>
	      <td>{{ object.academico.participacion_comite_maestria|default_if_none:"" }}</td>
	      <td>{{ object.academico.participacion_tutor_maestria|default_if_none:"" }}</td>
	    </tr>
	  </tbody>
	</table>

	Cantidad de comités de nivel doctorado en los que participa en el PCS: {{ object.academico.participacion_comite_doctorado|default_if_none:"" }}<br />
	Cantidad de participaciones como <em>tutor principal</em> en el PCS a nivel doctorado:  {{ object.academico.participacion_tutor_doctorado|default_if_none:"" }} <br />
	<hr>
	Otros programas en los que participa como miembro de comité tutor: {{ object.academico.tutor_otros_programas|default:"" }} <br />
	Otros programas en los que participa como <em>tutor principal</em>: {{ object.academico.tutor_principal_otros_programas|default:"" }} <br />

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">
	  <span class="glyphicon glyphicon glyphicon-book" aria-hidden="true"></span>
	  Publicaciones
	</h3>
      </div>
      <div class="panel-body">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th></th><th>Total</th><th>Los últimos 5 años</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>Cantidad de artículos publicados en revistas nacionales</td>
	      <td>{{ object.academico.articulos_nacionales|default_if_none:"" }}</td>
	      <td>{{ object.academico.articulos_nacionales_5|default_if_none:"" }}</td>
	    </tr>
	    <tr>
	      <td>Cantidad de artículos publicados en revistas internacionales</td>
	      <td>{{ object.academico.articulos_internacionales|default_if_none:"" }}</td>
	      <td>{{ object.academico.articulos_internacionales_5|default_if_none:"" }}</td>
	    </tr>
	    <tr>
	      <td>Capítulos de libro publicados</td>
	      <td>{{ object.academico.capitulos|default_if_none:"" }}</td>
	      <td>{{ object.academico.capitulos_5|default_if_none:"" }}</td>
	    </tr>
	    <tr>
	      <td>Libros publicados</td>
	      <td>{{ object.academico.libros|default_if_none:"" }}</td>
	      <td>{{ object.academico.libros_5|default_if_none:"" }}</td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>


  </div>
</div>


<!-- academico -->
{% endif %}





<!--
 #####   ######  #####   ######     #    #
 #    #  #       #    #  #          #    #
 #    #  #####   #    #  #####      #    #
 #####   #       #####   #          #    #
 #       #       #   #   #          #    #
 #       ######  #    #  #          #    ######

  -->
{% if object.perfil %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      Perfil
    </h3>
  </div>





<!--
  ####   #####     ##    #####    ####    ####
 #    #  #    #   #  #   #    #  #    #  #
 #       #    #  #    #  #    #  #    #   ####
 #  ###  #####   ######  #    #  #    #       #
 #    #  #   #   #    #  #    #  #    #  #    #
  ####   #    #  #    #  #####    ####    ####
-->
<div class="panel panel-body">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
	<span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
	Grados Académicos
      </h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
	{% for grado in object.gradoacademico_set.all %}
	<li class="list-group-item">
	  <strong>{{ grado.grado_obtenido }} </strong>@ {{ grado.institucion }}
	  <p class="list-group-item-text">nivel {{ grado.nivel }}
	    obtenido el {{ grado.fecha_obtencion }}<br />
	    <a href="{{ grado.documento_url }}">documento</a></p>
	  
	</li>
	{% empty %}
	<li class="list-group-item">
	  sin grados
	</li>
	{% endfor %}
      </ul>
      {% if user.is_staff %}
      <a href="{{ APP_PREFIX }}admin/posgradmin/gradoacademico/?q={{ object.username }}">editar grados</a>
      {% endif %}
    </div>
  </div>
</div>


{% if see_private %}

  <div class="panel-body">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">
	  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
	  Datos Personales</h3>
      </div>
      <div class="panel-body">

	<div class="media">
	  <div class="media-left media-middle">
	    {% if object.perfil.headshot %}
	    <img class="media-object"
		 width="150px"
		 src="{{ object.perfil.headshot_url }}" />

	    {% endif %}
	  </div>
	  <div class="media-body">

	    <ul class="list-group">
	      <li class="list-group-item"><strong>Fecha de Nacimiento</strong>
		{{ object.perfil.fecha_nacimiento|default:"" }}</li>
	      <li class="list-group-item"><strong>Genero</strong> {{ object.perfil.genero }}</li>
	      <li class="list-group-item"><strong>Nacionalidad</strong> {{ object.perfil.nacionalidad }}</li>
	      <li class="list-group-item"><strong>CURP</strong> {{ object.perfil.curp }}</li>
	      <li class="list-group-item"><strong>RFC</strong> {{ object.perfil.rfc }}</li>
	    </ul>
	  </div>
	</div>
      </div>
    </div>



    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">
	  <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
	  Información de contacto
	</h3>
      </div>
      <div class="panel-body">
	<ul class="list-group">
	  <li class="list-group-item"><strong>Teléfono</strong> {{ object.perfil.telefono }}</li>
	  <li class="list-group-item"><strong>Teléfono Móvil</strong> {{ object.perfil.telefono_movil }}</li>
	  <li class="list-group-item"><strong>email</strong> {{ object.email }}</li>
	  <li class="list-group-item"><strong>Sitio Web</strong> {{ object.perfil.website }}</li>
	  <li class="list-group-item"><strong>Dirección</Strong> {{ object.perfil.direccion1 }}</li>
	  <li class="list-group-item"><strong>Código Postal</strong> {{ object.perfil.codigo_postal|default:"" }}</li>
	</ul>
      </div>
    </div>
    {% if user == object %}
    <a href="{% url 'editar_perfil' %}">editar perfil</a>
    {% elif user.is_staff %}
    <a href="{% url 'admin:auth_user_change' object.id %}">editar usuario</a><br />
    <a href="{% url 'admin:posgradmin_perfil_change' object.perfil.id %}">editar perfil</a>
    {% endif %}

  </div>
  {% else %}
  <div class="panel-body">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title">
	  <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
	  Información de contacto
	</h3>
      </div>
      <div class="panel-body">
	<ul class="list-group">
	  <li class="list-group-item"><strong>email</strong> {{ object.email }}</li>
	  <li class="list-group-item"><strong>Sitio Web</strong> {{ object.perfil.website|default:'' }}</li>
	</ul>
      </div>
    </div>
    {% if user == object %}
    <a href="{% url 'editar_perfil' %}">editar</a>
    {% elif user.is_staff %}
    <a href="{% url 'admin:auth_user_change' object.id %}">editar usuario</a><br />
    <a href="{% url 'admin:posgradmin_perfil_change' object.perfil.id %}">editar perfil</a>
    {% endif %}

  </div>
  {% endif %}
</div>
<!-- perfil -->
{% endif %}

{% if see_private %}
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
      <a href="{% url 'solicitudes' %}">Solicitudes</a></h3>
  </div>
  <div class="panel-body">

    <table class="table table-striped">
      <thead>
	<tr>
	  <th>#</th>
	  <th>estado</th>
	  <th>tipo</th>
	  <th>resumen</th>
	  <th>fecha de creacion</th>
	</tr>
      </thead>

      <tbody>
	{% for solicitud in object.solicitud_set.all %}

	<tr>
	  <td><a href="{% url 'solicitud_detail' solicitud.id %}">
	      {{ solicitud.id }}</a></td>
	  <td>
	    {% if solicitud.dictamen_final %}
	    {% if solicitud.dictamen_final.resolucion == 'concedida' %}
	    <span class="glyphicon glyphicon-thumbs-up" aria-hidden=true></span>
	    {% else %}
	    <span class="glyphicon glyphicon-thumbs-down" aria-hidden=true></span>
	    {% endif %}
	    {% elif solicitud.predictamen %}
	    <span class="glyphicon glyphicon-eye-open" aria-hidden=true></span>
	    {% endif %}

	    {{ solicitud.estado }}
	  </td>
	  <td>{{ solicitud.tipo }}</td>
	  <td><a href="{% url 'solicitud_detail' solicitud.id %}">
	      {{ solicitud.resumen }}</a></td>
	  <td>{{ solicitud.fecha_creacion }}</td>
	</tr>

	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

{% endblock %}
