{% load tailwind_tags %}
{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>


  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% tailwind_css %}

  </head>


  <body class="bg-stone-200 leading-normal tracking-normal">

    <header >
      
      <div class="p-4 bg-green-800">
	<a class="text-2xl text-white "
	   href="/">Posgrado en Ciencias de la Sostenibilidad
	</a>
      </div>


      <div class="flex flex-wrap py-8 bg-cover"
	   style="background-image: url({% static 'assets/plecas/default.jpg' %})">
	
	<a class="m-2 p-2 bg-purple-800 text-white inline-block align-middle rounded-md hover:text-white hover:bg-orange-700" href="/posgrado/">Acerca del Posgrado</a>
	
	<a class="m-2 p-2 bg-purple-800 text-white inline-block align-middle rounded-md hover:text-white hover:bg-orange-700" href="/aspirantes/">Aspirantes</a>
	
	<a class="m-2 p-2 bg-purple-800 text-white inline-block align-middle rounded-md hover:text-white hover:bg-orange-700" href="/maestria/">Maestría</a>
	
	<a class="m-2 p-2 bg-purple-800 text-white inline-block align-middle rounded-md hover:text-white hover:bg-orange-700" href="/doctorado/">Doctorado</a>
	
	<a class="m-2 p-2 bg-purple-800 text-white inline-block align-middle rounded-md hover:text-white hover:bg-orange-700" href="/comite/">Comité Académico</a>
	
	<a class="m-2 p-2 bg-purple-800 text-white inline-block align-middle rounded-md hover:text-white hover:bg-orange-700" href="/comite-etica/">Comité de Ética</a>
	
	<a class="m-2 p-2 bg-purple-800 text-white inline-block align-middle rounded-md hover:text-white hover:bg-orange-700" href="/movilidad">Movilidad</a>
	
	<a class="m-2 p-2 bg-purple-800 text-white inline-block align-middle rounded-md hover:text-white hover:bg-orange-700" href="/apoyos/">Apoyos</a>
	
	<a class="m-2 p-2 bg-purple-800 text-white inline-block align-middle rounded-md hover:text-white hover:bg-orange-700" href="/publicaciones/">Publicaciones</a>
	
	<a class="m-2 p-2 bg-purple-800 text-white inline-block align-middle rounded-md hover:text-white hover:bg-orange-700" href="/cursos/">Cursos y horarios</a>
	
	<a class="m-2 p-2 bg-purple-800 text-white inline-block align-middle rounded-md hover:text-white hover:bg-orange-700" href="/tutores/">Tutores</a>
	
	<a class="m-2 p-2 bg-purple-800 text-white inline-block align-middle rounded-md hover:text-white hover:bg-orange-700" href="/inicio/">Sistema</a>
	
	<a class="m-2 p-2 bg-purple-800 text-white inline-block align-middle rounded-md hover:text-white hover:bg-orange-700" href="/calendarios_y_avisos/">Calendarios y Avisos</a>
	
      </div>


      <div class="bg-stone-200 flex flex-wrap p-4 justify-right">
	
	{% if user.is_authenticated %}
	
	{{ user.get_full_name}}
	
	{% if user.is_staff %}
	<a class="mx-4 hover:text-white hover:bg-stone-500" href="{% url 'admin:index' %}">Base de Datos</a>
	<a class="mx-4 hover:text-white hover:bg-stone-500" href="{% url 'toggle_perfil_editar' %}">Des/Bloquear formularios</a>
	<a class="mx-4 hover:text-white hover:bg-stone-500" href="{% url 'academico_invitar' %}">Invitar académicos</a>
	<a class="mx-4 hover:text-white hover:bg-stone-500" href="{% url 'upload_assets' %}">Subir assets</a>
	
	{% endif %}
	
	<a class="mx-4 hover:text-white hover:bg-stone-500" href="{{ APP_PREFIX }}accounts/password/change/">Cambiar contraseña</a>
	<a class="mx-4 hover:text-white hover:bg-stone-500" href="{{ APP_PREFIX }}accounts/logout/">Terminar sesión</a>
	{% else %}
	<a class="mx-4 hover:text-white hover:bg-stone-500" href="{{ APP_PREFIX }}accounts/login/">Iniciar sesión</a>
	{% endif %}
      </div>
    </header>

  
    <div class="bg-gray-50 p-4">
    
      <div>
	{% block breadcrumbs %}
	{% endblock %}
      </div>


      <div class="text-stone-800 p-2 px-4 mx-4 min-h-[40rem]">
	{% block content %}
	{{ content }}
	{% endblock %}
      </div>

    </div>



    <div class="bg-stone-200 p-24 flex justify-center">
      <div class="flex flex-col text-neutral-500">
	<p class="w-96">
	  Posgrado en Ciencias de la Sostenibilidad, Unidad de Posgrado
	  Edificio D primer piso Ciudad Universitaria CDMX Teléfono
	  5623-7012. Atención de lunes a viernes de 9:00 a 13:00 hrs.</p>

	<a href="mailto:sostenibilidad@posgrado.unam.mx">sostenibilidad@posgrado.unam.mx</a>
	
	<img class="w-48 mt-8"
	     src="https://sostenibilidad.posgrado.unam.mx/assets/logo-posgradounam.png" />
	
      </div>
    </div>

    <div class="border border-green-700"
  </body>
</html>
